<div style='padding: 0 50px; margin: 30px auto 50px auto; max-width: 800px; box-sizing: border-box;'>
        <h3 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Reversal Functions</h3>
        <div style=' box-sizing: border-box;text-align: left; font-family: Roboto,sans-serif; font-weight: 400; line-height: 1.5;'>
            <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
                    Instead of calling the Debit and Credit API to do reversal, Centinel provided a separate API call to do such process. This will ensure that proper ledgering and error handling during the process is made. The API will ask for reference number of the transaction to be reversed. This way, users and integrating system can easily track the history of that transactions and which transactions are related to which; because Centinel can link these transactions automatically. Centinel has two types of reversal process: Full, and Partial reversal. See details below.
            </p>
        </div>
    </div>