<div style='padding: 0 50px; margin: 30px auto 50px auto; max-width: 800px; box-sizing: border-box; text-align: justify; '>
    <h3 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Introduction</h3>
    <div style=' box-sizing: border-box;text-align: justify; font-family: Roboto,sans-serif; font-weight: 400; line-height: 1.5;'>
        <h4 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Foreword</h4>
        <div style='text-align: center; padding: 20px; font-family: Courier,monospace; font-size: 12px;'>
            <svg width="336px" height="93px" viewBox="0 0 336 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- <svg width="336px" height="93px" viewBox="0 0 336 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> -->
                <!-- Generator: Sketch 52.1 (67048) - http://www.bohemiancoding.com/sketch -->
                <title>centinel</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <path d="M32.3809524,15.9444444 C25.2318711,15.9444444 7.3517558,15.9444444 0,15.9444444 C0,7.13857093 7.2487231,0 16.1904762,0 C25.1322293,0 32.3809524,7.13857093 32.3809524,15.9444444 Z M25.2230576,15.9024854 C25.2230576,11.0129082 21.1981088,7.04912281 16.2330827,7.04912281 C11.2680566,7.04912281 7.24310777,11.0129082 7.24310777,15.9024854 C11.1978301,15.9024854 21.2841968,15.9024854 25.2230576,15.9024854 Z" id="path-1"></path>
                </defs>
                <g id="Logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="centinel">
                        <g id="Logo" transform="translate(211.000000, 0.000000)">
                            <g id="gear" transform="translate(62.171429, 0.000000)">
                                <g id="icon" transform="translate(9.439286, 9.163380)" fill="#4A4A4A">
                                    <path d="M11.7371318,6.87108533 C11.7461667,6.86908108 11.7551766,6.86706731 11.7641613,6.865044 C11.7641613,4.0892454 9.51562148,1.82875627 6.75171487,1.82875627 C3.98801589,1.82875627 1.74838405,4.09710195 1.74804755,6.8726158 C1.10883614,6.87316927 0.519786975,6.87377075 0.0050567148,6.87439193 C0.0050567148,3.10425821 3.04826029,0.0479609557 6.80224215,0.0479609557 C10.556224,0.0479609557 13.5994276,3.10425821 13.5994276,6.87439193 C13.1358544,6.87291301 12.4956157,6.87183364 11.7371318,6.87108533 Z" id="Combined-Shape"></path>
                                    <ellipse id="Oval-2" cx="6.75969917" cy="6.92047584" rx="3.12520191" ry="3.13864839"></ellipse>
                                </g>
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <use id="Mask" fill-opacity="0" fill="#FFFFFF" xlink:href="#path-1"></use>
                                <path d="M32.4661654,16.3099041 C32.4661654,15.4418722 32.419512,14.5281362 32.2796704,13.6601044 L29.6214943,13.1118859 L28.6421289,10.2793854 L30.4608996,8.26921253 C30.0411377,7.4925891 29.5281876,6.76155387 28.968584,6.07622285 L26.3570613,6.94425468 L24.0719937,4.979786 L24.6315973,2.32998629 C23.8388453,1.87317628 23.0459749,1.46195446 22.2065696,1.14214105 L20.4344522,3.15231393 L17.449821,2.5583913 L16.5637623,0 C15.6777036,0 14.7449916,0.0457042019 13.8589329,0.182700807 L13.2993293,2.78679631 L10.4080048,3.74623655 L8.35608566,1.96446868 C7.5633337,2.3756905 6.81711669,2.87820472 6.11755304,3.42642314 L7.00361174,5.98481444 L4.99834594,8.22339233 L2.2935165,7.67517391 C1.82721967,8.45179734 1.40745781,9.22853677 1.08100266,10.0508644 L3.13292183,11.8326323 L2.52666491,14.7565412 L-0.0852130326,15.5789848 C-0.0852130326,16.4470167 -0.0385596683,17.3607527 0.101282015,18.2287845 L2.80611146,18.777003 L3.78547688,21.6095035 L1.96670613,23.6196764 C2.386468,24.3962998 2.89941819,25.127335 3.45902174,25.812666 L6.07054445,24.9446342 L8.35561203,26.9091029 L7.74935511,29.5589026 C8.54210707,30.0157126 9.33497745,30.4269344 10.1743828,30.7467478 L11.9931535,28.736575 L14.9777847,29.3304976 L15.8638434,31.8888889 C16.7499021,31.8888889 17.6826142,31.8431847 18.5686729,31.7061881 L19.1282764,29.1020926 L22.0196009,28.1426523 L24.0715201,29.9244202 C24.864272,29.5131984 25.6104891,29.0106842 26.3100527,28.4624658 L25.423994,25.9040744 L27.4292598,23.6654966 L30.1340892,24.213715 C30.6003861,23.4370915 31.0201479,22.6603521 31.3466031,21.8380245 L29.2946839,20.0562566 L29.9009408,17.1323477 L32.4661654,16.3099041 Z M16.1904762,24.755848 C11.2085239,24.755848 7.15789474,20.785473 7.15789474,15.9024854 C7.15789474,11.0194978 11.2086421,7.04912281 16.1904762,7.04912281 C21.1723103,7.04912281 25.2230576,11.0194978 25.2230576,15.9024854 C25.2230576,20.785473 21.1724285,24.755848 16.1904762,24.755848 Z" fill="#4A4A4A" fill-rule="nonzero" mask="url(#mask-2)"></path>
                            </g>
                            <g id="words" transform="translate(0.000000, 20.174603)" fill="#4A4A4A">
                                <path d="M34.614284,0.619073449 L36.4473274,0.619073449 L36.4473274,2.25545587 C36.9904541,1.58080361 37.5657309,1.09635313 38.1731752,0.802089904 C38.7806195,0.507826681 39.4559446,0.360697277 40.1991706,0.360697277 C41.8285506,0.360697277 42.9290803,0.931272285 43.5007926,2.07243942 C43.8152343,2.69685162 43.9724528,3.59039362 43.9724528,4.75309221 L43.9724528,12.1491101 L42.0107748,12.1491101 L42.0107748,4.88228029 C42.0107748,4.17891942 41.9071535,3.61193293 41.6999078,3.18130383 C41.3568804,2.46358865 40.7351527,2.10473644 39.8347058,2.10473644 C39.377336,2.10473644 39.0021554,2.15138723 38.7091528,2.2446902 C38.180319,2.40258754 37.7158097,2.71837748 37.3156111,3.1920695 C36.9940229,3.57245854 36.7849937,3.96540171 36.6885173,4.37091079 C36.5920408,4.77641986 36.5438033,5.35596618 36.5438033,6.10956711 L36.5438033,12.1491101 L34.614284,12.1491101 L34.614284,0.619073449 Z M48.9141663,10.405071 C49.3215113,10.7280428 49.8038863,10.8895263 50.3613058,10.8895263 C51.0402141,10.8895263 51.6976734,10.7316313 52.3337034,10.4158367 C53.4056639,9.89190457 53.9416361,9.0342478 53.9416361,7.8428406 L53.9416361,6.28181789 C53.7058048,6.43253808 53.4020872,6.55813635 53.0304742,6.65861648 C52.6588612,6.7590966 52.2944001,6.83086705 51.9370799,6.87392996 L50.7686488,7.02464939 C50.0683012,7.11795236 49.5430484,7.26508177 49.1928746,7.46604202 C48.5997231,7.80336815 48.3031518,8.34164646 48.3031518,9.0808931 C48.3031518,9.64071094 48.5068213,10.0820991 48.9141663,10.405071 Z M52.9768765,5.16218781 C53.4199535,5.1047706 53.7165248,4.91816745 53.8665993,4.60237277 C53.9523561,4.43012113 53.9952339,4.18251311 53.9952339,3.85954128 C53.9952339,3.19924331 53.7611927,2.72017562 53.2931033,2.42232382 C52.8250138,2.12447202 52.1550485,1.97554835 51.2831873,1.97554835 C50.2755443,1.97554835 49.5609147,2.24827603 49.1392769,2.79373957 C48.9034456,3.09517994 48.7498002,3.5437452 48.6783361,4.1394488 L46.8774514,4.1394488 C46.9131834,2.71837274 47.372333,1.72973492 48.2549138,1.17350565 C49.1374947,0.617276389 50.1612017,0.339165929 51.3260655,0.339165929 C52.6767358,0.339165929 53.7736923,0.597539518 54.6169679,1.11429445 C55.4530972,1.63104937 55.8711555,2.43487832 55.8711555,3.52580539 L55.8711555,10.1682262 C55.8711555,10.3691864 55.9122467,10.5306699 55.9944303,10.6526815 C56.076614,10.7746931 56.2499117,10.8356979 56.5143286,10.8356979 C56.6000855,10.8356979 56.6965605,10.8303152 56.8037565,10.8195494 C56.9109526,10.8087837 57.0252933,10.7926353 57.1467822,10.7711039 L57.1467822,12.2029385 C56.8466332,12.2890643 56.6179517,12.3428922 56.4607309,12.3644236 C56.30351,12.3859551 56.0891211,12.3967206 55.8175577,12.3967206 C55.1529422,12.3967206 54.6705672,12.1598782 54.3704182,11.6861862 C54.2131973,11.4349859 54.1024297,11.0797222 54.0381121,10.6203845 C53.6450599,11.1371394 53.0805025,11.5857046 52.3444229,11.9660937 C51.6083433,12.3464827 50.7972387,12.5366744 49.9110846,12.5366744 C48.8462705,12.5366744 47.9762089,12.2119132 47.3008737,11.5623809 C46.6255386,10.9128487 46.2878761,10.1000484 46.2878761,9.12395579 C46.2878761,8.05456018 46.6201788,7.22561158 47.2847944,6.63708513 C47.9494099,6.04855869 48.8212581,5.68611796 49.9003651,5.54975207 L52.9768765,5.16218781 Z M59.0334233,0.619073449 L60.9415036,0.619073449 L60.9415036,2.25545587 C61.3988734,1.68846088 61.8133586,1.27578085 62.1849716,1.01740338 C62.8210015,0.579597123 63.5427775,0.360697277 64.3503211,0.360697277 C65.2650608,0.360697277 66.0011293,0.586774167 66.5585488,1.03893473 C66.8729905,1.29731219 67.1588424,1.67769553 67.4161129,2.18009616 C67.8448972,1.5628611 68.3487111,1.10532454 68.9275698,0.807472741 C69.5064285,0.509620942 70.1567414,0.360697277 70.8785282,0.360697277 C72.4221514,0.360697277 73.472657,0.920506719 74.0300765,2.0401424 C74.3302254,2.64302315 74.4802977,3.45402913 74.4802977,4.47318469 L74.4802977,12.1491101 L72.4757415,12.1491101 L72.4757415,4.1394488 C72.4757415,3.37149356 72.284578,2.84398081 71.9022454,2.55689474 C71.5199128,2.26980867 71.053617,2.12626779 70.5033439,2.12626779 C69.7458251,2.12626779 69.0937256,2.38105285 68.5470257,2.89063063 C68.0003258,3.40020841 67.7269799,4.25068814 67.7269799,5.44209533 L67.7269799,12.1491101 L65.7653019,12.1491101 L65.7653019,4.62390412 C65.7653019,3.84159458 65.6724001,3.27101957 65.4865936,2.91216198 C65.193591,2.3738756 64.6468994,2.10473644 63.8465021,2.10473644 C63.117569,2.10473644 62.45475,2.38822968 61.8580253,2.95522467 C61.2613005,3.52221967 60.9629427,4.54853698 60.9629427,6.0342074 L60.9629427,12.1491101 L59.0334233,12.1491101 L59.0334233,0.619073449 Z M77.3209789,0.672901818 L79.2826569,0.672901818 L79.2826569,12.1491101 L77.3209789,12.1491101 L77.3209789,0.672901818 Z M89.7824581,1.23271686 C90.5935749,1.86430622 91.0813096,2.9516284 91.2456769,4.49471604 L89.3697553,4.49471604 C89.2554129,3.78417801 88.994573,3.19386613 88.587228,2.72376269 C88.179883,2.25365924 87.5259969,2.01861105 86.62555,2.01861105 C85.3963686,2.01861105 84.5173741,2.62148276 83.9885402,3.82724426 C83.6455129,4.6095538 83.4740018,5.57486624 83.4740018,6.72321052 C83.4740018,7.87873196 83.7169758,8.85122144 84.2029313,9.64070814 C84.6888867,10.4301948 85.4535405,10.8249323 86.4969154,10.8249323 C87.2973126,10.8249323 87.9315464,10.5791185 88.3996359,10.0874836 C88.8677253,9.5958487 89.1910952,8.92300082 89.3697553,8.06891975 L91.2456769,8.06891975 C91.0312848,9.59765308 90.4953126,10.7154777 89.6377441,11.4224272 C88.7801757,12.1293766 87.6832192,12.482846 86.3468417,12.482846 C84.8460969,12.482846 83.6490922,11.9320079 82.7557918,10.8303151 C81.8624913,9.7286223 81.4158478,8.35242409 81.4158478,6.70167918 C81.4158478,4.67772237 81.9053691,3.10236118 82.8844264,1.97554835 C83.8634837,0.848735524 85.1105124,0.28533756 86.62555,0.28533756 C87.9190491,0.28533756 88.9713413,0.601127501 89.7824581,1.23271686 Z M94.3221883,8.53184373 C94.3793596,9.17778739 94.5401512,9.67300344 94.8045682,10.0175067 C95.2905236,10.6419189 96.1337866,10.9541203 97.3343824,10.9541203 C98.0490228,10.9541203 98.6778969,10.7980196 99.2210236,10.4858135 C99.7641502,10.1736074 100.03571,9.69095121 100.03571,9.0378304 C100.03571,8.54260693 99.8177475,8.16581211 99.3818168,7.90743465 C99.1031071,7.74953731 98.5528423,7.56652268 97.7310058,7.35838528 L96.1981099,6.97082102 C95.2190526,6.72679786 94.4972767,6.45407018 94.0327604,6.15262981 C93.2037776,5.62869773 92.7892924,4.90381627 92.7892924,3.97796369 C92.7892924,2.88703662 93.1805521,2.00426019 93.9630833,1.32960792 C94.7456145,0.654955655 95.7979067,0.317634581 97.1199914,0.317634581 C98.8494211,0.317634581 100.09645,0.827204714 100.861115,1.84636027 C101.339924,2.49230393 101.572179,3.18847721 101.557886,3.934901 L99.7355621,3.934901 C99.69983,3.49709474 99.5461847,3.09876879 99.2746213,2.7399112 C98.8315443,2.23033342 98.0633174,1.97554835 96.9699177,1.97554835 C96.2409845,1.97554835 95.6889331,2.11550071 95.3137469,2.39540963 C94.9385607,2.67531855 94.7509704,3.04493633 94.7509704,3.50427404 C94.7509704,4.00667467 94.9975176,4.40858914 95.4906195,4.71002951 C95.7764756,4.88945831 96.1981071,5.04735328 96.7555266,5.18371916 L98.0311533,5.4959237 C99.4175556,5.83324984 100.346574,6.15980535 100.818237,6.47560002 C101.568609,6.9708235 101.94379,7.74953279 101.94379,8.81175125 C101.94379,9.83808396 101.556103,10.7244489 100.780718,11.4708727 C100.005334,12.2172965 98.8244081,12.5905028 97.2379065,12.5905028 C95.529916,12.5905028 94.3204053,12.2011481 93.6093381,11.4224272 C92.898271,10.6437062 92.5177307,9.68018802 92.4677058,8.53184373 L94.3221883,8.53184373 Z" id="namics"></path>
                                <path d="M7.25796027,9.67744502 C7.85468498,8.92025551 8.15304286,7.7880768 8.15304286,6.28087492 C8.15304286,5.36219949 8.02083637,4.57272464 7.75641944,3.91242668 C7.25617118,2.64207081 6.34144522,2.0069024 5.01221414,2.0069024 C3.67583665,2.0069024 2.76111069,2.67795603 2.26800884,4.02008341 C2.0035919,4.73779859 1.87138542,5.6492832 1.87138542,6.75456457 C1.87138542,7.64453139 2.0035919,8.40170955 2.26800884,9.02612176 C2.7682571,10.217529 3.68298305,10.8132236 5.01221414,10.8132236 C5.912661,10.8132236 6.66123556,10.4346345 7.25796027,9.67744502 Z M0.0169029308,0.639661825 L1.89282452,0.639661825 L1.89282452,2.16838751 C2.27873032,1.64445543 2.70036181,1.23895244 3.15773165,0.951866367 C3.80805439,0.521237259 4.57270811,0.305925936 5.45171577,0.305925936 C6.75236124,0.305925936 7.85646405,0.806524764 8.76405732,1.80773744 C9.67165059,2.80895011 10.1254404,4.23897616 10.1254404,6.09785847 C10.1254404,8.60986159 9.47155429,10.4041226 8.16376241,11.4806954 C7.33477958,12.1625248 6.37002955,12.5034344 5.26948338,12.5034344 C4.40476854,12.5034344 3.67941944,12.3132427 3.09341434,11.9328537 C2.75038696,11.7175391 2.3680601,11.3479214 1.94642228,10.8239893 L1.94642228,16.7128129 L0.0169029308,16.7128129 L0.0169029308,0.639661825 Z M14.466859,10.371831 C14.874204,10.6948028 15.356579,10.8562863 15.9139985,10.8562863 C16.5929068,10.8562863 17.2503661,10.6983913 17.886396,10.3825967 C18.9583566,9.85866458 19.4943288,9.00100781 19.4943288,7.80960061 L19.4943288,6.2485779 C19.2584975,6.39929809 18.9547799,6.52489636 18.5831669,6.62537649 C18.2115539,6.72585661 17.8470928,6.79762705 17.4897726,6.84068996 L16.3213414,6.9914094 C15.6209939,7.08471237 15.0957411,7.23184178 14.7455673,7.43280203 C14.1524158,7.77012816 13.8558445,8.30840647 13.8558445,9.0476531 C13.8558445,9.60747094 14.0595139,10.0488592 14.466859,10.371831 Z M18.5295691,5.12894782 C18.9726462,5.07153061 19.2692175,4.88492746 19.419292,4.56913278 C19.5050488,4.39688114 19.5479266,4.14927312 19.5479266,3.82630129 C19.5479266,3.16600332 19.3138854,2.68693563 18.8457959,2.38908383 C18.3777065,2.09123203 17.7077412,1.94230836 16.8358799,1.94230836 C15.828237,1.94230836 15.1136074,2.21503604 14.6919695,2.76049957 C14.4561382,3.06193995 14.3024928,3.51050521 14.2310288,4.10620881 L12.4301441,4.10620881 C12.4658761,2.68513275 12.9250257,1.69649492 13.8076065,1.14026566 C14.6901874,0.584036396 15.7138943,0.305925936 16.8787581,0.305925936 C18.2294284,0.305925936 19.326385,0.564299524 20.1696606,1.08105445 C21.0057898,1.59780938 21.4238482,2.40163832 21.4238482,3.4925654 L21.4238482,10.1349862 C21.4238482,10.3359464 21.4649394,10.4974299 21.547123,10.6194415 C21.6293067,10.7414531 21.8026043,10.8024579 22.0670213,10.8024579 C22.1527781,10.8024579 22.2492531,10.7970752 22.3564492,10.7863094 C22.4636452,10.7755437 22.577986,10.7593954 22.6994748,10.7378639 L22.6994748,12.1696985 C22.3993259,12.2558243 22.1706444,12.3096522 22.0134235,12.3311836 C21.8562026,12.3527151 21.6418137,12.3634806 21.3702504,12.3634806 C20.7056349,12.3634806 20.2232598,12.1266382 19.9231109,11.6529462 C19.76589,11.4017459 19.6551224,11.0464822 19.5908048,10.5871445 C19.1977526,11.1038994 18.6331952,11.5524647 17.8971156,11.9328537 C17.161036,12.3132427 16.3499313,12.5034344 15.4637773,12.5034344 C14.3989631,12.5034344 13.5289015,12.1786732 12.8535664,11.5291409 C12.1782312,10.8796087 11.8405687,10.0668084 11.8405687,9.0907158 C11.8405687,8.02132018 12.1728715,7.19237159 12.8374871,6.60384514 C13.5021026,6.01531869 14.3739508,5.65287796 15.4530577,5.51651208 L18.5295691,5.12894782 Z M31.7574962,0.585833456 L33.8906871,0.585833456 C33.6191237,1.32508009 33.0152617,3.01168546 32.0790828,5.64570017 C31.3787352,7.62659406 30.7927389,9.24142899 30.3210763,10.4902534 C29.2062373,13.4328856 28.4201447,15.2271467 27.9627749,15.8730903 C27.505405,16.519034 26.7193124,16.842001 25.6044734,16.842001 C25.3329101,16.842001 25.1238809,16.8312354 24.9773796,16.809704 C24.8308784,16.7881725 24.6504344,16.7486988 24.4360423,16.6912815 L24.4360423,14.925711 C24.7719232,15.019014 25.0148973,15.0764304 25.1649718,15.0979618 C25.3150463,15.1194933 25.4472528,15.1302588 25.5615952,15.1302588 C25.9189154,15.1302588 26.1815418,15.0710482 26.3494823,14.9526252 C26.5174228,14.8342022 26.6585621,14.6888671 26.7729046,14.5166154 C26.8086366,14.4591982 26.9372699,14.1649394 27.1588085,13.6338302 C27.380347,13.1027209 27.5411386,12.7079835 27.6411883,12.449606 L23.3962457,0.585833456 L25.5830343,0.585833456 L28.6595457,9.97350105 L31.7574962,0.585833456 Z" id="pay"></path>
                            </g>
                        </g>
                        <g id="Group-2" transform="translate(0.000000, 24.000000)">
                            <path d="M79.0532229,26.8679663 L79.0532229,34.4076207 L97.742623,34.4076207 L97.742623,39.0327869 C97.742623,42.3274258 95.9687139,44.1014621 92.6743111,44.1014621 L79.0532229,44.1014621 L79.0532229,52.5914931 L97.8693308,52.5914931 C101.163734,52.5914931 102.937643,54.3655295 102.937643,57.6601684 L102.937643,62.9189189 L67.4594595,62.9189189 L67.4594595,16.5405405 L102.937643,16.5405405 L102.937643,21.7992911 C102.937643,25.09393 101.163734,26.8679663 97.8693308,26.8679663 L79.0532229,26.8679663 Z M146.935548,62.9189189 L120.453619,38.9694284 L120.453619,57.8502437 C120.453619,61.1448826 118.679709,62.9189189 115.385307,62.9189189 L108.796501,62.9189189 L108.796501,16.5405405 L112.090904,16.5405405 L138.446126,40.8701817 L138.446126,21.6092158 C138.446126,18.3145769 140.220035,16.5405405 143.514438,16.5405405 L150.166597,16.5405405 L150.166597,62.9189189 L146.935548,62.9189189 Z M189.72973,21.7992911 C189.72973,25.09393 187.955821,26.8679663 184.661418,26.8679663 L177.185658,26.8679663 L177.185658,57.8502437 C177.185658,61.1448826 175.411749,62.9189189 172.117346,62.9189189 L165.465187,62.9189189 L165.465187,26.8679663 L152.921115,26.8679663 L152.921115,21.6092158 C152.921115,18.3145769 154.695024,16.5405405 157.989427,16.5405405 L189.72973,16.5405405 L189.72973,21.7992911 Z M30.8108108,7.0761387 C16.400448,8.99372795 5.19611057,20.8533485 5.19611057,35.0927469 C5.19611057,49.3321452 16.400448,61.1917658 30.8108108,63.1093551 L30.8108108,65.322899 L0,68.7567568 L0,12.1850381 C-8.11624501e-16,5.55762109 5.372583,0.185038088 12,0.185038088 L30.8108108,0.185038088 L30.8108108,7.0761387 Z M30.8108108,19.8139774 L30.8108108,48.368866 L30.8108108,50.3767295 C24.2933545,48.7150143 19.5134659,43.0723652 19.5134659,35.0927469 C19.5134659,27.1754693 24.2933545,21.4912957 30.8108108,19.8139774 Z M36.972973,63.3343316 C49.4777844,62.766357 57.4044946,56.9677358 61.1498832,47.6649991 L53.4107722,44.6716057 C50.0055633,43.3245787 47.7612211,44.3722664 45.1299234,46.9914856 C43.059829,48.9306498 40.3408456,50.3469341 36.972973,50.7595613 L36.972973,19.4233746 C40.360756,19.8326793 42.9781388,21.2508167 45.0525323,23.1940081 C47.68383,25.7383925 50.0055633,26.7860802 53.4107722,25.4390532 L61.3820565,22.370825 C56.7790318,13.610158 48.3821836,7.51749929 36.972973,6.86356154 L36.972973,0.190745399 C43.2625707,0.190745399 54.7177171,-0.0532954586 59.763609,2.65021967 C64.738432,5.31618598 62.3418524,10.0670902 62.3418524,15.8454797 C62.3418524,21.6238693 62.3418524,53.0266669 62.3418524,59.109576 C62.3418524,63.3901416 66.2752327,61.2569519 36.972973,65.6985516 L36.972973,63.3343316 Z" id="centinel" fill="#699F2C"></path>
                            <path d="M204.986809,62.9189189 L198.352221,62.9189189 C195.066521,62.9189189 193.297297,61.1448826 193.297297,57.8502437 L193.297297,16.5405405 L199.931885,16.5405405 C203.217586,16.5405405 204.986809,18.3145769 204.986809,21.6092158 L204.986809,62.9189189 Z M249.816293,62.9189189 L223.404315,38.9694284 L223.404315,57.8502437 C223.404315,61.1448826 221.635092,62.9189189 218.349391,62.9189189 L211.77799,62.9189189 L211.77799,16.5405405 L215.06369,16.5405405 L241.349295,40.8701817 L241.349295,21.6092158 C241.349295,18.3145769 243.118518,16.5405405 246.404219,16.5405405 L253.038807,16.5405405 L253.038807,62.9189189 L249.816293,62.9189189 Z M271.709059,26.8679663 L271.709059,34.4076207 L290.349091,34.4076207 L290.349091,39.0327869 C290.349091,42.3274258 288.579868,44.1014621 285.294167,44.1014621 L271.709059,44.1014621 L271.709059,52.5914931 L290.475464,52.5914931 C293.761165,52.5914931 295.530388,54.3655295 295.530388,57.6601684 L295.530388,62.9189189 L260.14592,62.9189189 L260.14592,16.5405405 L295.530388,16.5405405 L295.530388,21.7992911 C295.530388,25.09393 293.761165,26.8679663 290.475464,26.8679663 L271.709059,26.8679663 Z M330.945076,52.5914931 C334.230777,52.5914931 336,54.3655295 336,57.6601684 L336,62.9189189 L301.247398,62.9189189 L301.247398,16.5405405 L307.881985,16.5405405 C311.167686,16.5405405 312.936909,18.3145769 312.936909,21.6092158 L312.936909,52.5914931 L330.945076,52.5914931 Z" id="Combined-Shape" fill="#B7C950"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This document has been created by Paynamics Technologies Inc.  Its contents may be changed without prior notice. External web links are provided for information only. Paynamics Technologies Inc. does not claim liability for access to and correctness of the referenced content.
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any publication and distribution of this document weather in physical or in electronic form is still under proprietary rights of Paynamics Technologies Inc. except for the contents that are excerpted from other sources which are referenced through footnote. 
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third-party logos and trademarks that appears throughout the document are under the proprietary rights of its respective owners.
            <br/>
        </p>
        <h4 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Audience</h4>
        <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This specification is primarily intended for Centinel integrators via the HTTPS REST. Finally, the document discusses how HTTPS access can be configured in REST request messages over Node.js, ASP.NET, or JAVA.
            <br/>
        </p>
        <h4 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Software Requirements</h4>
        <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
            To implement the https REST interface for wallet processing, the following system requirements must be met: 
            <br/>
            <ul>
                <li>Internet connection supporting HTTP/HTTPS</li>
                <li>Working knowledge of REST method</li>
                <li>SSL server supporting 128-bit (or stronger) encryption</li>
            </ul>
        </p>
        <h4 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>URL of Test and Live Environment</h4>
        <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
            <strong>Test Environment</strong>
            <br/><br /><a href='https://centinel.payserv.net/centinel/integration'>https://centinel.payserv.net/centinel/integration</a>
            <br/><br /><strong>Production Environment</strong>
            <br/><br />Please contact Paynamics technical support for Production URL
        </p>
        
    </div>
</div>