<div style='padding: 0 50px; margin: 30px auto 50px auto; max-width: 800px; box-sizing: border-box;'>
        <h3 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Credit Functions</h3>
        <div style=' box-sizing: border-box;text-align: left; font-family: Roboto,sans-serif; font-weight: 400; line-height: 1.5;'>
            <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
                    Credit API call will add amount to specified wallet within Centinel. Unlike debit transaction that requires multiple API calls, credit transaction only requires one API request to Centinel API. Follow parameters and configurations below as guidelines to credit amount to wallet.
            </p>
        </div>
    </div>