<div style='padding: 0 50px; margin: 30px auto 50px auto; max-width: 800px; box-sizing: border-box;'>
    <h3 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Merchant and Wallet Management Functions</h3>
    <div style=' box-sizing: border-box;text-align: left; font-family: Roboto,sans-serif; font-weight: 400; line-height: 1.5;'>
            <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
                    This is a collection of API that can manage Merchant wallet as well as merchant information. This are a higher level of APIs and only selected integrating system are allowed to call these APIs. Merchants has no access to this level of API for security purposes because these APIs are responsible for doing the following:
            </p>
    
            <ul style=' box-sizing: border-box; padding-left: 2em; margin: 0; margin-bottom: 1em; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;  margin-inline-end: 0px; padding-inline-start: 40px; padding-bottom: 20px; margin: 20px 40px 20px 20px;'>
                <li>Add Merchant wallet information</li>
                <li>Edit Merchant wallet information</li>
                <li>List Merchant wallets</li>
                <li>Activate / Deactivate Wallet</li>
                <li>Set Wallet threshold</li>
            </ul>
            <ul style=' box-sizing: border-box; padding-left: 2em; margin: 0; margin-bottom: 1em; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;  margin-inline-end: 0px; padding-inline-start: 40px; padding-bottom: 20px; margin: 20px 40px 20px 20px;'>
                <li>Add Merchant</li>
                <li> Edit Merchant Information</li>
                <li>List Merchants</li>
                <li>Activate / Deactivate Merchant</li>
            </ul>
        </div>
</div>