<div style='padding: 0 50px; margin: 30px auto 50px auto; max-width: 800px; box-sizing: border-box; text-align: justify; '>
    <h3 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Security</h3>
    <div style=' box-sizing: border-box;text-align: justify; font-family: Roboto,sans-serif; font-weight: 400; line-height: 1.5;'>
        <h4 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Introduction</h4>
        <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Since the wallet information is exchanged between the Integrating system and the Centinel platform, it's important that the data exchange is safe and immune to hacking, man-in-middle attack possibilities. The following 3 aspects must be addressed.
            <br/>
            <ul>
                <li>Integrity</li>
                <li>Non-repudiation</li>
                <li>Authentication </li>
            </ul>
            <br/> <strong>Integrity</strong> means that data cannot be modified without authorization. This is achieved by calculating the hash on the payload references. 
            <br/> <strong>Non-repudiation </strong>implies one's intention to fulfill their obligations to a contract. It also implies that one party of a transaction cannot deny having received a transaction nor can the other party deny having sent a transaction. This is achieved by calculating the SHA hash with 512 Bits from your sensitive data.
            <br/> <strong>Authentication</strong> ensures that the identity of the sender can be determined by Centinel. This is achieved by using the SHA512 hash algorithm.
            <br/> The high level process of signature generation and validation is depicted below:
            <br/>
            <p style="text-align: center; padding: 30px 20px; box-sizing: border-box">
                <svg width="532px" height="142px" viewBox="0 0 532 142" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 52.1 (67048) - http://www.bohemiancoding.com/sketch -->
                    <title>sec diagram</title>
                    <desc>Created with Sketch.</desc>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="sec-diagram">
                            <path d="M15.6649682,46.7142857 L3.91637118,46.7142857 C1.7516292,46.7142857 0,48.5170767 0,50.7361821 L0,94.9785015 C0,97.2013204 1.7516292,99 3.91637118,99 L15.6650973,99 C17.8297102,99 19.5810811,97.2013204 19.5810811,94.9785015 L19.5810811,50.7361821 C19.5809519,48.5170767 17.829581,46.7142857 15.6649682,46.7142857 Z M5.8744922,86.9341782 C4.79205664,86.9341782 3.91637118,86.0348384 3.91637118,84.9225005 C3.91637118,83.8114889 4.79205664,82.9121491 5.8744922,82.9121491 C6.95666949,82.9121491 7.83235495,83.8114889 7.83235495,84.9225005 C7.83235495,86.0348384 6.95666949,86.9341782 5.8744922,86.9341782 Z M15.6649682,62.8021366 L3.91637118,62.8021366 L3.91637118,58.7803728 L15.6650973,58.7803728 L15.6650973,62.8021366 L15.6649682,62.8021366 Z M15.6649682,54.7582112 L3.91637118,54.7582112 L3.91637118,50.7361821 L15.6650973,50.7361821 L15.6650973,54.7582112 L15.6649682,54.7582112 Z M41.2058961,90.8565705 L41.2058961,87 L29.4569117,87 L29.4569117,90.8565705 C27.2926863,90.8565705 25.5405405,92.5821194 25.5405405,94.7142857 L45.1216216,94.7142857 C45.1216216,92.5821194 43.3702507,90.8565705 41.2058961,90.8565705 Z M59.0477814,39 L11.6150324,39 C9.43024623,39 7.66216216,40.7812853 7.66216216,42.9741808 L11.6150324,42.9741808 L23.4732523,42.9741808 L59.0479118,42.9741808 L59.0479118,74.7660551 L23.4731219,74.7660551 L23.4731219,82.7142857 L59.0477814,82.7142857 C61.2321766,82.7142857 63,80.9370628 63,78.7394496 L63,42.9740498 C63,40.7811543 61.2320463,39 59.0477814,39 Z M35.3313418,80.7272608 C34.2388183,80.7272608 33.3549718,79.8391735 33.3549718,78.7394496 C33.3549718,77.6416914 34.2388183,76.75308 35.3313418,76.75308 C36.4239956,76.75308 37.3078421,77.6416914 37.3078421,78.7394496 C37.3078421,79.8391735 36.4238652,80.7272608 35.3313418,80.7272608 Z" id="Shape" fill="#444444" fill-rule="nonzero"></path>
                            <path d="M473.664968,46.7142857 L461.916371,46.7142857 C459.751629,46.7142857 458,48.5170767 458,50.7361821 L458,94.9785015 C458,97.2013204 459.751629,99 461.916371,99 L473.665097,99 C475.82971,99 477.581081,97.2013204 477.581081,94.9785015 L477.581081,50.7361821 C477.580952,48.5170767 475.829581,46.7142857 473.664968,46.7142857 Z M463.874492,86.9341782 C462.792057,86.9341782 461.916371,86.0348384 461.916371,84.9225005 C461.916371,83.8114889 462.792057,82.9121491 463.874492,82.9121491 C464.956669,82.9121491 465.832355,83.8114889 465.832355,84.9225005 C465.832355,86.0348384 464.956669,86.9341782 463.874492,86.9341782 Z M473.664968,62.8021366 L461.916371,62.8021366 L461.916371,58.7803728 L473.665097,58.7803728 L473.665097,62.8021366 L473.664968,62.8021366 Z M473.664968,54.7582112 L461.916371,54.7582112 L461.916371,50.7361821 L473.665097,50.7361821 L473.665097,54.7582112 L473.664968,54.7582112 Z M499.205896,90.8565705 L499.205896,87 L487.456912,87 L487.456912,90.8565705 C485.292686,90.8565705 483.540541,92.5821194 483.540541,94.7142857 L503.121622,94.7142857 C503.121622,92.5821194 501.370251,90.8565705 499.205896,90.8565705 Z M517.047781,39 L469.615032,39 C467.430246,39 465.662162,40.7812853 465.662162,42.9741808 L469.615032,42.9741808 L481.473252,42.9741808 L517.047912,42.9741808 L517.047912,74.7660551 L481.473122,74.7660551 L481.473122,82.7142857 L517.047781,82.7142857 C519.232177,82.7142857 521,80.9370628 521,78.7394496 L521,42.9740498 C521,40.7811543 519.232046,39 517.047781,39 Z M493.331342,80.7272608 C492.238818,80.7272608 491.354972,79.8391735 491.354972,78.7394496 C491.354972,77.6416914 492.238818,76.75308 493.331342,76.75308 C494.423996,76.75308 495.307842,77.6416914 495.307842,78.7394496 C495.307842,79.8391735 494.423865,80.7272608 493.331342,80.7272608 Z" id="Shape" fill="#444444" fill-rule="nonzero"></path>
                            <path d="M202.89605,46.3432815 C195.067808,46.3432815 189.070585,44.0519756 183.999288,39 C178.928518,44.0519756 172.931559,46.3432815 165.103975,46.3432815 C165.103975,59.4996508 162.446702,78.3460604 183.999156,86 C205.553191,78.3461955 202.89605,59.4997859 202.89605,46.3432815 Z M182.433929,69.4948717 L176.138612,63.0445296 L178.957259,60.1570303 L182.433929,63.7196031 L189.041975,56.9496883 L191.860491,59.8371876 L182.433929,69.4948717 Z" id="Shape" fill="#77C556" fill-rule="nonzero"></path>
                            <path d="M355.89605,46.3432815 C348.067808,46.3432815 342.070585,44.0519756 336.999288,39 C331.928518,44.0519756 325.931559,46.3432815 318.103975,46.3432815 C318.103975,59.4996508 315.446702,78.3460604 336.999156,86 C358.553191,78.3461955 355.89605,59.4997859 355.89605,46.3432815 Z M335.433929,69.4948717 L329.138612,63.0445296 L331.957259,60.1570303 L335.433929,63.7196031 L342.041975,56.9496883 L344.860491,59.8371876 L335.433929,69.4948717 Z" id="Shape" fill="#77C556" fill-rule="nonzero"></path>
                            <g id="Arrow-29" transform="translate(71.000000, 56.000000)">
                                <g>
                                    <path d="M0,8 C0,8 0.453369457,8 0.990129262,8 L74,8" id="Stroke-29" stroke="#455A64" stroke-width="6"></path>
                                    <path d="M85.2835353,9.07989948 C86.2159928,8.48358855 86.2191798,7.51881557 85.2835353,6.92046658 L75.3693163,0.580277512 C73.5084943,-0.609726812 72,0.209898327 72,2.41657428 L72,13.5837918 C72,15.7879548 73.5041128,16.6128949 75.3693163,15.4200885 L85.2835353,9.07989948 Z" id="Arrow-head-29" fill="#455A64"></path>
                                </g>
                            </g>
                            <g id="Arrow-29" transform="translate(366.000000, 56.000000)">
                                <g>
                                    <path d="M0,8 C0,8 0.453369457,8 0.990129262,8 L74,8" id="Stroke-29" stroke="#455A64" stroke-width="6"></path>
                                    <path d="M85.2835353,9.07989948 C86.2159928,8.48358855 86.2191798,7.51881557 85.2835353,6.92046658 L75.3693163,0.580277512 C73.5084943,-0.609726812 72,0.209898327 72,2.41657428 L72,13.5837918 C72,15.7879548 73.5041128,16.6128949 75.3693163,15.4200885 L85.2835353,9.07989948 Z" id="Arrow-head-29" fill="#455A64"></path>
                                </g>
                            </g>
                            <g id="Arrow-29" transform="translate(212.000000, 56.000000)">
                                <g>
                                    <path d="M0,8 C0,8 0.452490553,8 1.00344251,8 L88,8" id="Stroke-29" stroke="#455A64" stroke-width="6"></path>
                                    <path d="M99.2835353,9.07989948 C100.215993,8.48358855 100.21918,7.51881557 99.2835353,6.92046658 L89.3693163,0.580277512 C87.5084943,-0.609726812 86,0.209898327 86,2.41657428 L86,13.5837918 C86,15.7879548 87.5041128,16.6128949 89.3693163,15.4200885 L99.2835353,9.07989948 Z" id="Arrow-head-29" fill="#455A64"></path>
                                </g>
                            </g>
                            <g id="Group" transform="translate(9.000000, 117.000000)" fill="#827F7F">
                                <path d="M5.38519127,14.2463235 C5.38519127,14.0665841 5.35724445,13.9062507 5.30134997,13.7653186 C5.24545549,13.6243866 5.1433421,13.4946901 4.99500675,13.3762255 C4.8466714,13.2577608 4.64244463,13.1444041 4.38232032,13.036152 C4.12219601,12.9278998 3.78790903,12.8145431 3.37944937,12.6960784 C2.93229353,12.5694438 2.51954048,12.4244289 2.14117784,12.2610294 C1.76281521,12.0976299 1.43712726,11.9076808 1.16410422,11.6911765 C0.891081182,11.4746721 0.677180514,11.2254916 0.5223958,10.9436275 C0.367611085,10.6617633 0.290219889,10.3390541 0.290219889,9.9754902 C0.290219889,9.61601127 0.370835718,9.28513223 0.532069796,8.98284314 C0.693303873,8.68055404 0.920103074,8.41911875 1.2124742,8.19852941 C1.50484533,7.97794007 1.85525547,7.80637316 2.26371513,7.68382353 C2.67217479,7.5612739 3.12362344,7.5 3.61807461,7.5 C4.14692239,7.5 4.62201834,7.57250744 5.04337673,7.71752451 C5.46473512,7.86254157 5.82051965,8.05963928 6.11074099,8.30882353 C6.40096233,8.55800778 6.62346202,8.84701633 6.77824673,9.17585784 C6.93303145,9.50469936 7.01042264,9.8549818 7.01042264,10.2267157 L5.38519127,10.2267157 C5.38519127,10.0102113 5.3497203,9.81107117 5.27877731,9.62928922 C5.20783431,9.44750726 5.09927166,9.29023759 4.9530861,9.15747549 C4.80690054,9.02471339 4.62202157,8.921569 4.39844365,8.84803922 C4.17486572,8.77450944 3.9104458,8.7377451 3.60517595,8.7377451 C3.3171044,8.7377451 3.06773277,8.76838205 2.85705357,8.82965686 C2.64637438,8.89093168 2.47116931,8.97671513 2.33143311,9.0870098 C2.1916969,9.19730447 2.08850864,9.32802212 2.02186522,9.47916667 C1.95522181,9.63031121 1.9219006,9.79370827 1.9219006,9.96936275 C1.9219006,10.3002468 2.08635689,10.5759793 2.41527441,10.7965686 C2.74419192,11.017158 3.24615982,11.2214043 3.92119316,11.4093137 C4.45004094,11.5563733 4.90793885,11.7197703 5.29490063,11.8995098 C5.68186242,12.0792493 6.00325086,12.2824744 6.2590756,12.5091912 C6.51490033,12.735908 6.70515369,12.9912159 6.82984138,13.2751225 C6.95452907,13.5590292 7.01687197,13.8786747 7.01687197,14.2340686 C7.01687197,14.6098875 6.9384059,14.9479152 6.7814714,15.2481618 C6.6245369,15.5484084 6.40096233,15.8037163 6.11074099,16.0140931 C5.82051965,16.22447 5.46903463,16.3858246 5.05627539,16.4981618 C4.64351615,16.6104989 4.18346849,16.6666667 3.67611859,16.6666667 C3.22466317,16.6666667 2.77966379,16.6084565 2.3411071,16.4920343 C1.90255041,16.3756122 1.50914516,16.1999603 1.16087955,15.9650735 C0.812613947,15.7301867 0.53207086,15.4370933 0.319241877,15.0857843 C0.106412895,14.7344754 0,14.3218978 0,13.8480392 L1.63168071,13.8480392 C1.63168071,14.1299034 1.68434972,14.3719353 1.78968931,14.5741422 C1.89502891,14.7763491 2.03906253,14.9417886 2.22179448,15.0704657 C2.40452644,15.1991428 2.62057686,15.2930961 2.86995223,15.3523284 C3.11932761,15.4115608 3.38804704,15.4411765 3.67611859,15.4411765 C4.24366254,15.4411765 4.670389,15.3319047 4.95631076,15.1133578 C5.24223253,14.894811 5.38519127,14.6058025 5.38519127,14.2463235 Z M13.937004,12.5612745 L10.0803041,12.5612745 L10.0803041,15.3063725 L14.5883864,15.3063725 L14.5883864,16.5441176 L8.44862342,16.5441176 L8.44862342,7.62254902 L14.5432411,7.62254902 L14.5432411,8.87254902 L10.0803041,8.87254902 L10.0803041,11.3357843 L13.937004,11.3357843 L13.937004,12.5612745 Z M23.3659257,16.5441176 L21.734245,16.5441176 L17.5486293,10.2144608 L17.5486293,16.5441176 L15.9169486,16.5441176 L15.9169486,7.62254902 L17.5486293,7.62254902 L21.7471437,13.9767157 L21.7471437,7.62254902 L23.3659257,7.62254902 L23.3659257,16.5441176 Z M25.2942756,16.5441176 L25.2942756,7.62254902 L28.0674879,7.62254902 C28.6952259,7.62254902 29.2681357,7.72262972 29.7862346,7.92279412 C30.3043334,8.12295852 30.7493328,8.40788214 31.1212461,8.77757353 C31.4931593,9.14726492 31.7823014,9.59354314 31.9886811,10.1164216 C32.1950607,10.6393 32.2982489,11.2234445 32.2982489,11.8688725 L32.2982489,12.310049 C32.2982489,12.9554771 32.1961356,13.5386003 31.9919057,14.0594363 C31.7876759,14.5802722 31.4974589,15.024508 31.1212461,15.3921569 C30.7450332,15.7598058 30.2914348,16.0437081 29.7604372,16.2438725 C29.2294397,16.4440369 28.6393318,16.5441176 27.9900959,16.5441176 L25.2942756,16.5441176 Z M26.9259563,8.87254902 L26.9259563,15.3063725 L27.9900959,15.3063725 C28.4329522,15.3063725 28.8220579,15.23795 29.1574248,15.1011029 C29.4927917,14.9642559 29.771185,14.7671581 29.9926132,14.5098039 C30.2140413,14.2524497 30.3806473,13.9379104 30.4924363,13.5661765 C30.6042253,13.1944426 30.6601189,12.7757376 30.6601189,12.310049 L30.6601189,11.8566176 C30.6601189,10.8884756 30.4386941,10.1491039 29.9958378,9.63848039 C29.5529816,9.12785692 28.9102047,8.87254902 28.0674879,8.87254902 L26.9259563,8.87254902 Z M39.4118609,12.5612745 L35.555161,12.5612745 L35.555161,15.3063725 L40.0632433,15.3063725 L40.0632433,16.5441176 L33.9234803,16.5441176 L33.9234803,7.62254902 L40.018098,7.62254902 L40.018098,8.87254902 L35.555161,8.87254902 L35.555161,11.3357843 L39.4118609,11.3357843 L39.4118609,12.5612745 Z M44.8421975,13.1066176 L43.0234862,13.1066176 L43.0234862,16.5441176 L41.3918054,16.5441176 L41.3918054,7.62254902 L44.6938628,7.62254902 C45.2313098,7.62254902 45.7107052,7.68075922 46.1320636,7.79718137 C46.553422,7.91360352 46.9092065,8.08517044 47.1994279,8.31188725 C47.4896492,8.53860407 47.7099992,8.81944277 47.8604843,9.15441176 C48.0109694,9.48938076 48.0862109,9.87744877 48.0862109,10.3186275 C48.0862109,10.9150357 47.9346531,11.4144179 47.6315331,11.8167892 C47.328413,12.2191605 46.905986,12.5285937 46.3642395,12.745098 L48.4731707,16.4644608 L48.4731707,16.5441176 L46.7254021,16.5441176 L44.8421975,13.1066176 Z M43.0234862,11.8627451 L44.7003122,11.8627451 C44.9926833,11.8627451 45.2485042,11.8259808 45.4677826,11.752451 C45.6870609,11.6789212 45.8697901,11.576798 46.0159757,11.4460784 C46.1621612,11.3153588 46.2717988,11.1601316 46.3448915,10.9803922 C46.4179843,10.8006527 46.4545302,10.6025338 46.4545302,10.3860294 C46.4545302,10.1572701 46.4201341,9.94996008 46.3513409,9.76409314 C46.2825477,9.57822619 46.1772097,9.41891406 46.0353237,9.28615196 C45.8934377,9.15338986 45.7117833,9.0512667 45.4903552,8.97977941 C45.2689271,8.90829213 45.0034323,8.87254902 44.6938628,8.87254902 L43.0234862,8.87254902 L43.0234862,11.8627451 Z" id="SENDER"></path>
                                <path d="M161.868372,6.30163648 C161.825229,6.75025822 161.717373,7.16428375 161.544801,7.54372551 C161.372229,7.92316726 161.132789,8.25124319 160.826473,8.52796314 C160.520158,8.80468309 160.145898,9.02060527 159.703683,9.17573615 C159.261467,9.33086703 158.751309,9.40843131 158.173193,9.40843131 C157.595077,9.40843131 157.071976,9.30675922 156.603874,9.10341198 C156.135773,8.90006474 155.736706,8.61077095 155.406662,8.23552193 C155.076618,7.8602729 154.823157,7.40641706 154.646271,6.87394079 C154.469384,6.34146452 154.380943,5.74400995 154.380943,5.08155916 L154.380943,4.33945027 C154.380943,3.6811922 154.471542,3.0847858 154.652742,2.55021317 C154.833943,2.01564053 155.092797,1.55968836 155.429312,1.18234297 C155.765827,0.804997584 156.172444,0.51360746 156.649174,0.30816386 C157.125904,0.102720259 157.659791,0 158.25085,0 C158.811709,0 159.307846,0.0786124434 159.739276,0.235839689 C160.170705,0.393066934 160.536337,0.611085443 160.836181,0.889901758 C161.136024,1.16871807 161.37115,1.50098667 161.541565,1.88671751 C161.71198,2.27244835 161.820914,2.69381105 161.868372,3.15081824 L160.237575,3.15081824 C160.20306,2.86152011 160.143739,2.60157496 160.059611,2.370975 C159.975482,2.14037504 159.855762,1.94436802 159.700447,1.78294805 C159.545132,1.62152807 159.348835,1.49889266 159.111548,1.41503813 C158.874262,1.3311836 158.587365,1.28925696 158.25085,1.28925696 C157.87982,1.28925696 157.555174,1.35738775 157.276902,1.49365136 C156.998629,1.62991497 156.766739,1.82697017 156.581224,2.08482285 C156.395709,2.34267553 156.256575,2.6602698 156.163818,3.03761519 C156.07106,3.41496058 156.024682,3.8447086 156.024682,4.32687215 L156.024682,5.08155916 C156.024682,5.53856635 156.065668,5.95364005 156.147639,6.32679271 C156.229611,6.69994537 156.356881,7.01963598 156.529453,7.28587411 C156.702025,7.55211225 156.924208,7.75860093 157.196009,7.90534636 C157.46781,8.05209179 157.793534,8.1254634 158.173193,8.1254634 C158.526965,8.1254634 158.825726,8.0856331 159.069484,8.0059713 C159.313242,7.92630949 159.514932,7.80891491 159.674561,7.65378403 C159.83419,7.49865315 159.958225,7.30788695 160.046668,7.08147972 C160.135111,6.85507248 160.198746,6.59512734 160.237575,6.30163648 L161.868372,6.30163648 Z M166.79312,5.7544884 L164.96818,5.7544884 L164.96818,9.28265014 L163.330912,9.28265014 L163.330912,0.125781167 L166.644277,0.125781167 C167.183564,0.125781167 167.664601,0.185526624 168.087403,0.305019331 C168.510204,0.424512037 168.867207,0.60060391 169.158422,0.833300233 C169.449637,1.06599656 169.670742,1.35424218 169.821742,1.69804576 C169.972743,2.04184933 170.048242,2.44015238 170.048242,2.89296685 C170.048242,3.50510492 169.896165,4.01765805 169.592007,4.43064162 C169.287849,4.84362518 168.863976,5.16121945 168.320374,5.38343396 L170.436527,9.20089238 L170.436527,9.28265014 L168.682773,9.28265014 L166.79312,5.7544884 Z M164.96818,4.47780955 L166.650748,4.47780955 C166.944121,4.47780955 167.200818,4.44007558 167.420847,4.3646065 C167.640876,4.28913743 167.824231,4.18432083 167.970917,4.05015359 C168.117603,3.91598634 168.227616,3.75666512 168.30096,3.57218515 C168.374303,3.38770518 168.410974,3.184361 168.410974,2.96214649 C168.410974,2.7273538 168.37646,2.51457612 168.307431,2.32380706 C168.238402,2.13303801 168.132703,1.96952413 167.990332,1.83326051 C167.84796,1.6969969 167.665683,1.59218031 167.443497,1.51880759 C167.22131,1.44543488 166.954906,1.40874907 166.644277,1.40874907 L164.96818,1.40874907 L164.96818,4.47780955 Z M177.108557,5.19476221 L173.23865,5.19476221 L173.23865,8.01226035 L177.76217,8.01226035 L177.76217,9.28265014 L171.601382,9.28265014 L171.601382,0.125781167 L177.716871,0.125781167 L177.716871,1.40874907 L173.23865,1.40874907 L173.23865,3.93695053 L177.108557,3.93695053 L177.108557,5.19476221 Z M184.369487,7.15065936 L180.719608,7.15065936 L179.955981,9.28265014 L178.253998,9.28265014 L181.813277,0.125781167 L183.282289,0.125781167 L186.848039,9.28265014 L185.139585,9.28265014 L184.369487,7.15065936 Z M181.179078,5.86769145 L183.910016,5.86769145 L182.544547,2.0691002 L181.179078,5.86769145 Z M194.723753,1.40874907 L191.78573,1.40874907 L191.78573,9.28265014 L190.161405,9.28265014 L190.161405,1.40874907 L187.249267,1.40874907 L187.249267,0.125781167 L194.723753,0.125781167 L194.723753,1.40874907 Z M201.466969,5.19476221 L197.597062,5.19476221 L197.597062,8.01226035 L202.120582,8.01226035 L202.120582,9.28265014 L195.959794,9.28265014 L195.959794,0.125781167 L202.075282,0.125781167 L202.075282,1.40874907 L197.597062,1.40874907 L197.597062,3.93695053 L201.466969,3.93695053 L201.466969,5.19476221 Z M148.271925,22.5158219 C148.271925,22.331342 148.243883,22.1667799 148.187797,22.0221309 C148.131711,21.8774818 148.029248,21.7443647 147.880405,21.6227757 C147.731561,21.5011866 147.526635,21.3848402 147.26562,21.2737329 C147.004605,21.1626257 146.669173,21.0462793 146.259315,20.9246902 C145.810628,20.7947157 145.396461,20.6458761 145.016803,20.478167 C144.637145,20.310458 144.310341,20.1154991 144.036383,19.8932846 C143.762425,19.6710701 143.547792,19.4153176 143.392477,19.1260195 C143.237163,18.8367214 143.159506,18.5055009 143.159506,18.1323483 C143.159506,17.7633883 143.240398,17.4237826 143.402185,17.1135208 C143.563971,16.803259 143.791547,16.5349286 144.084919,16.3085213 C144.378291,16.0821141 144.729901,15.9060222 145.13976,15.7802404 C145.549618,15.6544586 146.002613,15.5915687 146.498757,15.5915687 C147.029416,15.5915687 147.506139,15.6659885 147.92894,15.8148303 C148.351742,15.9636721 148.708745,16.1659681 148.99996,16.4217244 C149.291175,16.6774807 149.514437,16.9741117 149.669751,17.3116262 C149.825066,17.6491406 149.902722,18.0086615 149.902722,18.3901997 L148.271925,18.3901997 C148.271925,18.1679852 148.236333,17.9635928 148.165147,17.7770165 C148.093961,17.5904401 147.985027,17.4290226 147.838341,17.292759 C147.691654,17.1564954 147.506142,17.0506306 147.281799,16.9751615 C147.057455,16.8996925 146.79213,16.8619585 146.485815,16.8619585 C146.196756,16.8619585 145.946531,16.8934035 145.73513,16.9562944 C145.52373,17.0191853 145.347924,17.1072312 145.20771,17.2204348 C145.067495,17.3336384 144.963953,17.4678037 144.897082,17.6229345 C144.83021,17.7780654 144.796775,17.945772 144.796775,18.1260592 C144.796775,18.4656701 144.961794,18.7486749 145.291838,18.9750821 C145.621882,19.2014893 146.125569,19.4111225 146.802914,19.6039879 C147.333573,19.7549261 147.793039,19.9226326 148.181326,20.1071126 C148.569613,20.2915926 148.892102,20.5001776 149.148802,20.7328739 C149.405503,20.9655702 149.596408,21.2276117 149.721523,21.5190062 C149.846637,21.8104007 149.909194,22.1384766 149.909194,22.5032438 C149.909194,22.8889747 149.830459,23.2359176 149.672987,23.544083 C149.515515,23.8522484 149.291175,24.1142899 148.99996,24.3302153 C148.708745,24.5461407 148.356056,24.7117509 147.941883,24.8270509 C147.52771,24.9423509 147.066087,25 146.557,25 C146.103999,25 145.657475,24.9402545 145.217417,24.8207618 C144.777358,24.7012691 144.382606,24.5209846 144.033148,24.2799028 C143.683689,24.038821 143.402186,23.7379974 143.188628,23.3774229 C142.97507,23.0168485 142.868293,22.5933894 142.868293,22.1070332 L144.505561,22.1070332 C144.505561,22.3963313 144.55841,22.6447466 144.664111,22.8522866 C144.769811,23.0598265 144.914338,23.2296294 145.097696,23.3617003 C145.281053,23.4937712 145.497844,23.5902024 145.748073,23.650997 C145.998302,23.7117915 146.267942,23.7421883 146.557,23.7421883 C147.126488,23.7421883 147.554675,23.6300346 147.841576,23.4057237 C148.128477,23.1814128 148.271925,22.8847819 148.271925,22.5158219 Z M153.073717,24.8742188 L151.44292,24.8742188 L151.44292,15.7173499 L153.073717,15.7173499 L153.073717,24.8742188 Z M162.308428,23.6855868 C162.209199,23.8113686 162.071143,23.9507747 161.894257,24.1038092 C161.717371,24.2568437 161.489795,24.3993943 161.211523,24.5314652 C160.93325,24.663536 160.598897,24.7746416 160.208453,24.8647852 C159.818009,24.9549289 159.359622,25 158.833277,25 C158.242218,25 157.699703,24.9014724 157.205716,24.7044143 C156.711729,24.5073561 156.287855,24.222255 155.934083,23.8491023 C155.58031,23.4759497 155.305278,23.016853 155.108977,22.4717985 C154.912676,21.9267441 154.814528,21.3041335 154.814528,20.6039482 L154.814528,20.0001986 C154.814528,19.304206 154.902969,18.6826436 155.079856,18.1354928 C155.256742,17.588342 155.511282,17.1261008 155.843483,16.7487554 C156.175684,16.37141 156.581222,16.0842126 157.060109,15.8871544 C157.538996,15.6900963 158.08259,15.5915687 158.690906,15.5915687 C159.264708,15.5915687 159.765159,15.6638921 160.192275,15.8085412 C160.61939,15.9531903 160.979629,16.1554863 161.273001,16.4154353 C161.566374,16.6753844 161.797185,16.9845933 161.965443,17.3430714 C162.1337,17.7015496 162.245871,18.0946118 162.301956,18.5222699 L160.697045,18.5222699 C160.658216,18.2832845 160.593503,18.0631696 160.502903,17.8619188 C160.412302,17.6606679 160.288268,17.4866723 160.130796,17.3399269 C159.973324,17.1931815 159.779184,17.0778832 159.548369,16.9940287 C159.317554,16.9101742 159.042521,16.8682475 158.723263,16.8682475 C158.33929,16.8682475 158.006016,16.9374265 157.723429,17.0757865 C157.440843,17.2141464 157.205717,17.4164425 157.018045,17.6826806 C156.830373,17.9489187 156.69016,18.2759465 156.597403,18.6637737 C156.504645,19.0516009 156.458267,19.4928788 156.458267,19.9876205 L156.458267,20.6039482 C156.458267,21.1070754 156.514352,21.5525459 156.626524,21.9403731 C156.738696,22.3282003 156.899401,22.6541799 157.108645,22.9183217 C157.317888,23.1824635 157.572428,23.3837113 157.872272,23.5220713 C158.172116,23.6604313 158.511862,23.7296102 158.89152,23.7296102 C159.171949,23.7296102 159.412468,23.7117914 159.613083,23.6761532 C159.813698,23.640515 159.983032,23.5954439 160.121089,23.5409385 C160.259147,23.486433 160.372395,23.4266876 160.460838,23.3617003 C160.549282,23.296713 160.621545,23.2348712 160.677631,23.1761731 L160.677631,21.3837914 L158.736206,21.3837914 L158.736206,20.1762922 L162.308428,20.1762922 L162.308428,23.6855868 Z M171.581968,24.8742188 L169.944699,24.8742188 L165.74475,18.3776215 L165.74475,24.8742188 L164.107482,24.8742188 L164.107482,15.7173499 L165.74475,15.7173499 L169.957642,22.2391034 L169.957642,15.7173499 L171.581968,15.7173499 L171.581968,24.8742188 Z M178.791126,22.742228 L175.141247,22.742228 L174.37762,24.8742188 L172.675637,24.8742188 L176.234916,15.7173499 L177.703928,15.7173499 L181.269678,24.8742188 L179.561224,24.8742188 L178.791126,22.742228 Z M175.600717,21.4592601 L178.331655,21.4592601 L176.966186,17.6606689 L175.600717,21.4592601 Z M189.145392,17.0003178 L186.207369,17.0003178 L186.207369,24.8742188 L184.583043,24.8742188 L184.583043,17.0003178 L181.670906,17.0003178 L181.670906,15.7173499 L189.145392,15.7173499 L189.145392,17.0003178 Z M197.273491,15.7173499 L197.273491,21.8428927 C197.273491,22.3669835 197.181814,22.8260802 196.998456,23.2201965 C196.815098,23.6143128 196.563794,23.9434369 196.244536,24.2075786 C195.925278,24.4717204 195.552097,24.6698238 195.124981,24.8018947 C194.697865,24.9339655 194.240556,25 193.753041,25 C193.248268,25 192.781252,24.9339655 192.351979,24.8018947 C191.922706,24.6698238 191.550603,24.4717204 191.23566,24.2075786 C190.920716,23.9434369 190.674804,23.6143128 190.497918,23.2201965 C190.321032,22.8260802 190.23259,22.3669835 190.23259,21.8428927 L190.23259,15.7173499 L191.863387,15.7173499 L191.863387,21.8428927 C191.863387,22.1699254 191.907608,22.451882 191.996051,22.6887711 C192.084494,22.9256601 192.210686,23.1216671 192.374629,23.276798 C192.538572,23.4319289 192.737027,23.546179 192.969999,23.6195517 C193.202971,23.6929244 193.463983,23.7296102 193.753041,23.7296102 C194.042099,23.7296102 194.304188,23.6929244 194.539318,23.6195517 C194.774447,23.546179 194.972902,23.4319289 195.134688,23.276798 C195.296474,23.1216671 195.421587,22.9256601 195.51003,22.6887711 C195.598473,22.451882 195.642694,22.1699254 195.642694,21.8428927 L195.642694,15.7173499 L197.273491,15.7173499 Z M202.482982,21.3460571 L200.658042,21.3460571 L200.658042,24.8742188 L199.020774,24.8742188 L199.020774,15.7173499 L202.334139,15.7173499 C202.873426,15.7173499 203.354464,15.7770953 203.777265,15.896588 C204.200066,16.0160807 204.557069,16.1921726 204.848284,16.4248689 C205.139499,16.6575652 205.360604,16.9458109 205.511604,17.2896144 C205.662605,17.633418 205.738104,18.0317211 205.738104,18.4845355 C205.738104,19.0966736 205.586027,19.6092267 205.281869,20.0222103 C204.977711,20.4351939 204.553838,20.7527881 204.010236,20.9750026 L206.126389,24.7924611 L206.126389,24.8742188 L204.372635,24.8742188 L202.482982,21.3460571 Z M200.658042,20.0693782 L202.34061,20.0693782 C202.633983,20.0693782 202.89068,20.0316443 203.110709,19.9561752 C203.330738,19.8807061 203.514093,19.7758895 203.660779,19.6417223 C203.807466,19.507555 203.917479,19.3482338 203.990822,19.1637538 C204.064165,18.9792739 204.100836,18.7759297 204.100836,18.5537152 C204.100836,18.3189225 204.066322,18.1061448 203.997293,17.9153758 C203.928264,17.7246067 203.822565,17.5610928 203.680194,17.4248292 C203.537822,17.2885656 203.355545,17.183749 203.133359,17.1103763 C202.911172,17.0370036 202.644769,17.0003178 202.334139,17.0003178 L200.658042,17.0003178 L200.658042,20.0693782 Z M212.798419,20.7863309 L208.928512,20.7863309 L208.928512,23.603829 L213.452033,23.603829 L213.452033,24.8742188 L207.291244,24.8742188 L207.291244,15.7173499 L213.406733,15.7173499 L213.406733,17.0003178 L208.928512,17.0003178 L208.928512,19.5285192 L212.798419,19.5285192 L212.798419,20.7863309 Z" id="CREATE-SIGNATURE"></path>
                                <path d="M312.890688,7.19945973 L315.285112,0 L317.084166,0 L313.693144,9.20317241 L312.107647,9.20317241 L308.729567,0 L310.52215,0 L312.890688,7.19945973 Z M323.652654,5.0946133 L319.782747,5.0946133 L319.782747,7.92635865 L324.306267,7.92635865 L324.306267,9.20317241 L318.145478,9.20317241 L318.145478,0 L324.260967,0 L324.260967,1.28945547 L319.782747,1.28945547 L319.782747,3.83044126 L323.652654,3.83044126 L323.652654,5.0946133 Z M329.101586,5.65716985 L327.276647,5.65716985 L327.276647,9.20317241 L325.639379,9.20317241 L325.639379,0 L328.952744,0 C329.492031,0 329.973068,0.0600475711 330.39587,0.180144515 C330.818671,0.300241459 331.175674,0.477223773 331.466889,0.711096769 C331.758104,0.944969765 331.979209,1.23467296 332.130209,1.58021504 C332.28121,1.92575713 332.356709,2.32607427 332.356709,2.78117847 C332.356709,3.39641194 332.204632,3.91155689 331.900474,4.32662879 C331.596316,4.74170068 331.172442,5.06090093 330.628841,5.2842391 L332.744994,9.12100122 L332.744994,9.20317241 L330.99124,9.20317241 L329.101586,5.65716985 Z M327.276647,4.37403524 L328.959215,4.37403524 C329.252588,4.37403524 329.509285,4.33611046 329.729314,4.26025975 C329.949343,4.18440905 330.132698,4.07906244 330.279384,3.94421675 C330.42607,3.80937105 330.536083,3.6492442 330.609426,3.46383137 C330.682769,3.27841855 330.71944,3.07404611 330.71944,2.85070794 C330.71944,2.61472798 330.684927,2.40087435 330.615898,2.20914063 C330.546869,2.01740691 330.44117,1.85306619 330.298798,1.71611354 C330.156427,1.57916088 329.97415,1.47381426 329.751964,1.40007053 C329.529777,1.32632679 329.263373,1.28945547 328.952744,1.28945547 L327.276647,1.28945547 L327.276647,4.37403524 Z M335.637717,9.20317241 L334.00692,9.20317241 L334.00692,0 L335.637717,0 L335.637717,9.20317241 Z M343.079846,5.30320168 L339.287596,5.30320168 L339.287596,9.20317241 L337.650328,9.20317241 L337.650328,0 L343.636388,0 L343.636388,1.28945547 L339.287596,1.28945547 L339.287596,4.02638793 L343.079846,4.02638793 L343.079846,5.30320168 Z M348.004594,4.36139352 L350.172519,0 L351.984515,0 L348.826464,5.81519136 L348.826464,9.20317241 L347.182724,9.20317241 L347.182724,5.81519136 L344.018201,0 L345.836669,0 L348.004594,4.36139352 Z M300.49469,22.5032602 C300.49469,22.3178474 300.466647,22.1524532 300.410561,22.0070727 C300.354475,21.8616922 300.252012,21.727902 300.103169,21.6056981 C299.954326,21.4834942 299.7494,21.3665594 299.488384,21.2548903 C299.227369,21.1432213 298.891938,21.0262865 298.482079,20.9040826 C298.033392,20.7734508 297.619226,20.6238587 297.239567,20.4553015 C296.859909,20.2867444 296.533106,20.0907997 296.259148,19.8674615 C295.98519,19.6441234 295.770556,19.3870776 295.615242,19.0963166 C295.459927,18.8055556 295.382271,18.4726603 295.382271,18.0976207 C295.382271,17.726795 295.463163,17.385472 295.624949,17.0736413 C295.786735,16.7618107 296.014311,16.4921233 296.307683,16.2645712 C296.601056,16.0370191 296.952666,15.8600368 297.362524,15.733619 C297.772383,15.6072012 298.225377,15.5439932 298.721522,15.5439932 C299.25218,15.5439932 299.728903,15.6187893 300.151705,15.7683837 C300.574506,15.9179782 300.931509,16.1212971 301.222724,16.3783467 C301.513939,16.6353963 301.737201,16.9335273 301.892516,17.2727484 C302.04783,17.6119696 302.125487,17.9733085 302.125487,18.356776 L300.49469,18.356776 C300.49469,18.1334378 300.459097,17.9280119 300.387911,17.7404921 C300.316725,17.5529723 300.207791,17.3907385 300.061105,17.2537859 C299.914419,17.1168332 299.728907,17.0104331 299.504563,16.9345824 C299.280219,16.8587317 299.014894,16.8208069 298.708579,16.8208069 C298.419521,16.8208069 298.169295,16.8524109 297.957894,16.9156198 C297.746494,16.9788288 297.570689,17.0673199 297.430474,17.181096 C297.290259,17.294872 297.186718,17.4297157 297.119846,17.585631 C297.052974,17.7415464 297.019539,17.9101009 297.019539,18.0912998 C297.019539,18.432628 297.184559,18.7170639 297.514602,18.944616 C297.844646,19.1721681 298.348333,19.3828613 299.025678,19.576702 C299.556337,19.7284034 300.015803,19.896958 300.40409,20.0823708 C300.792377,20.2677836 301.114866,20.4774234 301.371567,20.7112964 C301.628267,20.9451694 301.819172,21.2085359 301.944287,21.5014039 C302.069402,21.7942719 302.131958,22.1240068 302.131958,22.4906185 C302.131958,22.8782999 302.053223,23.2269972 301.895751,23.5367209 C301.738279,23.8464446 301.513939,24.1098111 301.222724,24.3268284 C300.931509,24.5438457 300.57882,24.7102933 300.164647,24.8261763 C299.750475,24.9420594 299.288852,25 298.779764,25 C298.326763,25 297.88024,24.9399524 297.440181,24.8198555 C297.000123,24.6997585 296.60537,24.5185624 296.255912,24.2762615 C295.906454,24.0339607 295.62495,23.7316159 295.411392,23.3692181 C295.197834,23.0068203 295.091057,22.58122 295.091057,22.0924043 L296.728325,22.0924043 C296.728325,22.3831653 296.781175,22.6328368 296.886875,22.8414263 C296.992575,23.0500157 297.137102,23.2206772 297.32046,23.3534159 C297.503818,23.4861547 297.720608,23.5830735 297.970837,23.6441755 C298.221067,23.7052774 298.490706,23.735828 298.779764,23.735828 C299.349252,23.735828 299.77744,23.6231071 300.06434,23.3976619 C300.351241,23.1722168 300.49469,22.8740859 300.49469,22.5032602 Z M305.296481,24.8735828 L303.665684,24.8735828 L303.665684,15.6704104 L305.296481,15.6704104 L305.296481,24.8735828 Z M314.531192,23.6789402 C314.431963,23.8053581 314.293908,23.9454691 314.117021,24.0992774 C313.940135,24.2530858 313.712559,24.3963572 313.434287,24.5290959 C313.156015,24.6618346 312.821662,24.7735021 312.431217,24.8641015 C312.040773,24.954701 311.582386,25 311.056041,25 C310.464982,25 309.922467,24.9009742 309.42848,24.7029196 C308.934493,24.504865 308.510619,24.2183222 308.156847,23.8432826 C307.803074,23.468243 307.528042,23.0068248 307.331741,22.4590142 C307.135441,21.9112036 307.037292,21.2854447 307.037292,20.5817187 L307.037292,19.9749162 C307.037292,19.2754041 307.125734,18.6506987 307.30262,18.1007811 C307.479506,17.5508635 307.734046,17.086285 308.066247,16.7070315 C308.398448,16.327778 308.803986,16.0391282 309.282873,15.8410736 C309.761761,15.643019 310.305354,15.5439932 310.91367,15.5439932 C311.487472,15.5439932 311.987923,15.6166824 312.415039,15.7620629 C312.842155,15.9074434 313.202393,16.1107623 313.495765,16.3720259 C313.789138,16.6332894 314.019949,16.9440619 314.188207,17.3043527 C314.356465,17.6646436 314.468635,18.0596934 314.524721,18.489514 L312.919809,18.489514 C312.880981,18.2493201 312.816267,18.0280922 312.725667,17.8258237 C312.635067,17.6235552 312.511032,17.4486798 312.35356,17.3011923 C312.196089,17.1537048 312.001948,17.0378236 311.771133,16.953545 C311.540318,16.8692664 311.265285,16.8271278 310.946027,16.8271278 C310.562055,16.8271278 310.22878,16.8966566 309.946194,17.0357162 C309.663607,17.1747758 309.428481,17.3780948 309.240809,17.6456792 C309.053137,17.9132636 308.912924,18.2419451 308.820167,18.6317334 C308.72741,19.0215217 308.681032,19.465031 308.681032,19.9622744 L308.681032,20.5817187 C308.681032,21.0873901 308.737117,21.5351132 308.849288,21.9249015 C308.96146,22.3146899 309.122165,22.6423178 309.331409,22.9077953 C309.540652,23.1732727 309.795192,23.3755382 310.095036,23.5145979 C310.39488,23.6536575 310.734626,23.7231862 311.114284,23.7231862 C311.394714,23.7231862 311.635232,23.7052773 311.835847,23.6694589 C312.036462,23.6336405 312.205796,23.5883415 312.343853,23.5335604 C312.481911,23.4787794 312.59516,23.4187318 312.683603,23.3534159 C312.772046,23.2881 312.844309,23.2259455 312.900395,23.1669506 L312.900395,21.3655054 L310.95897,21.3655054 L310.95897,20.1519003 L314.531192,20.1519003 L314.531192,23.6789402 Z M323.804732,24.8735828 L322.167464,24.8735828 L317.967514,18.3441342 L317.967514,24.8735828 L316.330246,24.8735828 L316.330246,15.6704104 L317.967514,15.6704104 L322.180406,22.2251424 L322.180406,15.6704104 L323.804732,15.6704104 L323.804732,24.8735828 Z M331.01389,22.7308112 L327.364011,22.7308112 L326.600384,24.8735828 L324.898401,24.8735828 L328.45768,15.6704104 L329.926692,15.6704104 L333.492442,24.8735828 L331.783989,24.8735828 L331.01389,22.7308112 Z M327.823482,21.4413557 L330.554419,21.4413557 L329.18895,17.6235562 L327.823482,21.4413557 Z M341.368156,16.9598659 L338.430133,16.9598659 L338.430133,24.8735828 L336.805808,24.8735828 L336.805808,16.9598659 L333.89367,16.9598659 L333.89367,15.6704104 L341.368156,15.6704104 L341.368156,16.9598659 Z M349.496255,15.6704104 L349.496255,21.8269282 C349.496255,22.3536692 349.404578,22.8150874 349.22122,23.2111966 C349.037863,23.6073058 348.786558,23.9380942 348.4673,24.2035716 C348.148042,24.4690491 347.774861,24.6681542 347.347745,24.8008929 C346.92063,24.9336316 346.463321,25 345.975805,25 C345.471032,25 345.004016,24.9336316 344.574743,24.8008929 C344.14547,24.6681542 343.773368,24.4690491 343.458424,24.2035716 C343.14348,23.9380942 342.897569,23.6073058 342.720682,23.2111966 C342.543796,22.8150874 342.455354,22.3536692 342.455354,21.8269282 L342.455354,15.6704104 L344.086151,15.6704104 L344.086151,21.8269282 C344.086151,22.1556146 344.130372,22.438997 344.218815,22.6770839 C344.307258,22.9151708 344.43345,23.112169 344.597393,23.2680843 C344.761337,23.4239996 344.959791,23.5388275 345.192764,23.6125712 C345.425736,23.6863149 345.686747,23.7231862 345.975805,23.7231862 C346.264863,23.7231862 346.526953,23.6863149 346.762082,23.6125712 C346.997211,23.5388275 347.195666,23.4239996 347.357452,23.2680843 C347.519239,23.112169 347.644351,22.9151708 347.732794,22.6770839 C347.821238,22.438997 347.865459,22.1556146 347.865459,21.8269282 L347.865459,15.6704104 L349.496255,15.6704104 Z M354.705746,21.3275802 L352.880806,21.3275802 L352.880806,24.8735828 L351.243538,24.8735828 L351.243538,15.6704104 L354.556903,15.6704104 C355.096191,15.6704104 355.577228,15.730458 356.000029,15.8505549 C356.42283,15.9706518 356.779833,16.1476342 357.071049,16.3815072 C357.362264,16.6153802 357.583368,16.9050833 357.734369,17.2506254 C357.885369,17.5961675 357.960868,17.9964847 357.960868,18.4515889 C357.960868,19.0668223 357.808792,19.5819673 357.504633,19.9970392 C357.200475,20.4121111 356.776602,20.7313113 356.233,20.9546495 L358.349153,24.7914116 L358.349153,24.8735828 L356.595399,24.8735828 L354.705746,21.3275802 Z M352.880806,20.0444456 L354.563375,20.0444456 C354.856747,20.0444456 355.113444,20.0065208 355.333473,19.9306701 C355.553502,19.8548194 355.736857,19.7494728 355.883544,19.6146271 C356.03023,19.4797814 356.140243,19.3196546 356.213586,19.1342418 C356.286929,18.9488289 356.3236,18.7444565 356.3236,18.5211183 C356.3236,18.2851384 356.289086,18.0712847 356.220057,17.879551 C356.151028,17.6878173 356.04533,17.5234766 355.902958,17.3865239 C355.760586,17.2495713 355.57831,17.1442247 355.356123,17.0704809 C355.133937,16.9967372 354.867533,16.9598659 354.556903,16.9598659 L352.880806,16.9598659 L352.880806,20.0444456 Z M365.021184,20.7650237 L361.151277,20.7650237 L361.151277,23.596769 L365.674797,23.596769 L365.674797,24.8735828 L359.514008,24.8735828 L359.514008,15.6704104 L365.629497,15.6704104 L365.629497,16.9598659 L361.151277,16.9598659 L361.151277,19.5008517 L365.021184,19.5008517 L365.021184,20.7650237 Z" id="VERIFY-SIGNATURE"></path>
                                <path d="M467.7755,12.2732843 L465.955125,12.2732843 L465.955125,15.7107843 L464.321951,15.7107843 L464.321951,6.78921569 L467.627029,6.78921569 C468.164968,6.78921569 468.644802,6.84742589 469.066546,6.96384804 C469.48829,7.08027019 469.8444,7.2518371 470.134887,7.47855392 C470.425373,7.70527074 470.645925,7.98610944 470.796548,8.32107843 C470.947171,8.65604743 471.022481,9.04411544 471.022481,9.48529412 C471.022481,10.0817023 470.870784,10.5810846 470.567387,10.9834559 C470.26399,11.3858272 469.841176,11.6952604 469.298934,11.9117647 L471.409795,15.6311275 L471.409795,15.7107843 L469.660427,15.7107843 L467.7755,12.2732843 Z M465.955125,11.0294118 L467.633485,11.0294118 C467.926123,11.0294118 468.182178,10.9926474 468.401657,10.9191176 C468.621136,10.8455879 468.804032,10.7434647 468.950352,10.6127451 C469.096671,10.4820255 469.206409,10.3267983 469.279569,10.1470588 C469.352728,9.96731936 469.389307,9.76920043 469.389307,9.55269608 C469.389307,9.32393676 469.35488,9.11662675 469.286024,8.9307598 C469.217168,8.74489286 469.111733,8.58558073 468.969717,8.45281863 C468.827702,8.32005653 468.645881,8.21793336 468.42425,8.14644608 C468.20262,8.07495879 467.936882,8.03921569 467.627029,8.03921569 L465.955125,8.03921569 L465.955125,11.0294118 Z M478.065138,11.7279412 L474.20491,11.7279412 L474.20491,14.4730392 L478.717116,14.4730392 L478.717116,15.7107843 L472.571736,15.7107843 L472.571736,6.78921569 L478.671929,6.78921569 L478.671929,8.03921569 L474.20491,8.03921569 L474.20491,10.502451 L478.065138,10.502451 L478.065138,11.7279412 Z M487.218655,12.8063725 C487.17562,13.2434662 487.068034,13.6468527 486.895894,14.0165441 C486.723753,14.3862355 486.484912,14.705881 486.179363,14.9754902 C485.873814,15.2450994 485.50049,15.4554731 485.05938,15.6066176 C484.618271,15.7577622 484.109389,15.8333333 483.532718,15.8333333 C482.956048,15.8333333 482.434256,15.7342739 481.967325,15.536152 C481.500394,15.3380301 481.102326,15.0561701 480.773107,14.6905637 C480.443889,14.3249573 480.191061,13.882764 480.014618,13.3639706 C479.838174,12.8451771 479.749953,12.2630751 479.749953,11.6176471 L479.749953,10.8946078 C479.749953,10.2532648 479.840325,9.67218398 480.021073,9.15134804 C480.20182,8.6305121 480.460027,8.18627635 480.7957,7.81862745 C481.131374,7.45097855 481.536974,7.16707616 482.012511,6.96691176 C482.488049,6.76674737 483.0206,6.66666667 483.610181,6.66666667 C484.169637,6.66666667 484.664533,6.74325904 485.094884,6.89644608 C485.525235,7.04963312 485.889952,7.2620493 486.189046,7.53370098 C486.48814,7.80535267 486.722677,8.12908309 486.892666,8.50490196 C487.062655,8.88072083 487.171317,9.29125594 487.218655,9.73651961 L485.591937,9.73651961 C485.557509,9.45465545 485.498337,9.20139001 485.414418,8.97671569 C485.3305,8.75204136 485.211079,8.56107105 485.056153,8.40379902 C484.901227,8.24652699 484.70542,8.12704289 484.468727,8.04534314 C484.232034,7.96364338 483.945855,7.92279412 483.610181,7.92279412 C483.240079,7.92279412 482.916245,7.98917417 482.638669,8.12193627 C482.361093,8.25469838 482.129782,8.44668992 481.944732,8.69791667 C481.759681,8.94914341 481.620895,9.25857659 481.528369,9.62622549 C481.435844,9.99387439 481.389582,10.4125794 481.389582,10.8823529 L481.389582,11.6176471 C481.389582,12.0629107 481.430464,12.4673184 481.512231,12.8308824 C481.593998,13.1944463 481.720949,13.5059219 481.89309,13.7653186 C482.06523,14.0247153 482.286857,14.225898 482.557978,14.3688725 C482.8291,14.5118471 483.15401,14.5833333 483.532718,14.5833333 C483.885606,14.5833333 484.18362,14.5445265 484.426768,14.4669118 C484.669916,14.389297 484.871102,14.2749191 485.030332,14.1237745 C485.189562,13.97263 485.313286,13.7867658 485.401508,13.5661765 C485.48973,13.3455871 485.553205,13.0923217 485.591937,12.8063725 L487.218655,12.8063725 Z M494.170939,11.7279412 L490.310711,11.7279412 L490.310711,14.4730392 L494.822917,14.4730392 L494.822917,15.7107843 L488.677537,15.7107843 L488.677537,6.78921569 L494.777731,6.78921569 L494.777731,8.03921569 L490.310711,8.03921569 L490.310711,10.502451 L494.170939,10.502451 L494.170939,11.7279412 Z M497.876241,15.7107843 L496.249523,15.7107843 L496.249523,6.78921569 L497.876241,6.78921569 L497.876241,15.7107843 Z M503.195352,13.7683824 L505.583787,6.78921569 L507.378341,6.78921569 L503.9958,15.7107843 L502.414269,15.7107843 L499.044638,6.78921569 L500.832737,6.78921569 L503.195352,13.7683824 Z M513.930401,11.7279412 L510.070173,11.7279412 L510.070173,14.4730392 L514.582379,14.4730392 L514.582379,15.7107843 L508.436999,15.7107843 L508.436999,6.78921569 L514.537192,6.78921569 L514.537192,8.03921569 L510.070173,8.03921569 L510.070173,10.502451 L513.930401,10.502451 L513.930401,11.7279412 Z M519.365705,12.2732843 L517.54533,12.2732843 L517.54533,15.7107843 L515.912156,15.7107843 L515.912156,6.78921569 L519.217235,6.78921569 C519.755173,6.78921569 520.235007,6.84742589 520.656751,6.96384804 C521.078495,7.08027019 521.434605,7.2518371 521.725092,7.47855392 C522.015579,7.70527074 522.23613,7.98610944 522.386753,8.32107843 C522.537376,8.65604743 522.612686,9.04411544 522.612686,9.48529412 C522.612686,10.0817023 522.46099,10.5810846 522.157592,10.9834559 C521.854195,11.3858272 521.431382,11.6952604 520.889139,11.9117647 L523,15.6311275 L523,15.7107843 L521.250632,15.7107843 L519.365705,12.2732843 Z M517.54533,11.0294118 L519.22369,11.0294118 C519.516329,11.0294118 519.772383,10.9926474 519.991862,10.9191176 C520.211341,10.8455879 520.394238,10.7434647 520.540557,10.6127451 C520.686876,10.4820255 520.796614,10.3267983 520.869774,10.1470588 C520.942933,9.96731936 520.979513,9.76920043 520.979513,9.55269608 C520.979513,9.32393676 520.945085,9.11662675 520.876229,8.9307598 C520.807373,8.74489286 520.701939,8.58558073 520.559923,8.45281863 C520.417907,8.32005653 520.236086,8.21793336 520.014456,8.14644608 C519.792825,8.07495879 519.527087,8.03921569 519.217235,8.03921569 L517.54533,8.03921569 L517.54533,11.0294118 Z" id="RECEIVER"></path>
                            </g>
                            <path d="M278.778084,0 L245.221827,0 C242.342662,0 240,2.2166877 240,4.9418767 L240,27.9912817 C240,30.7164707 242.342662,32.9333333 245.221827,32.9333333 L262.755792,32.9333333 C262.744339,32.6168761 262.718504,32.3217669 262.718504,31.9900862 C262.718504,30.7221576 262.812434,29.5897536 262.976413,28.5702137 L245.221827,28.5702137 C244.799141,28.5702137 244.427327,28.2989897 244.427327,27.9912817 L244.427327,7.98885987 L259.603537,20.6163505 C259.915158,20.8748882 260.309966,21.0175871 260.71756,21.0175871 L263.280842,21.0188119 C263.688435,21.0188119 264.084576,20.8748882 264.396286,20.6163505 L265.991146,19.2891026 C267.095758,16.1700263 269.858887,13.819039 273.238155,13.25988 L279.572584,7.98885987 L279.572584,14.4446041 C281.933091,15.8482321 283.609542,18.2484773 284,21.0541586 L284,4.9418767 C283.999911,2.2166877 281.657249,0 278.778084,0 Z M261.999911,16.6856144 L247.239196,4.36294464 L276.760626,4.36294464 L261.999911,16.6856144 Z M282.09897,25.7761031 L281.146193,25.7761031 L281.146193,22.2811566 C281.146193,18.8421716 278.169516,16.0444444 274.511281,16.0444444 C270.851385,16.0444444 267.874892,18.8421716 267.874892,22.2811566 L267.874892,25.7761031 L266.920638,25.7761031 C265.870285,25.7761031 265.019608,28.5120557 265.019608,31.8866634 C265.019608,35.2639606 265.870285,38 266.920638,38 L274.47694,38 L274.543314,38 L282.09897,38 C283.149323,38 284,35.2639606 284,31.8866634 C284,28.5120557 283.149323,25.7761031 282.09897,25.7761031 Z M276.223805,34.6689469 C276.223805,35.1644446 275.796297,35.5662394 275.269551,35.5662394 L273.749318,35.5662394 C273.22248,35.5662394 272.795064,35.1644446 272.795064,34.6689469 L272.795064,30.5717854 C272.795064,30.0759406 273.22248,29.6743194 273.749318,29.6743194 L275.269551,29.6743194 C275.796297,29.6743194 276.223805,30.0759406 276.223805,30.5717854 L276.223805,34.6689469 Z M278.011658,25.7761031 L274.543406,25.7761031 L274.477032,25.7761031 L271.010904,25.7761031 L271.010904,22.2811566 C271.010904,20.4664428 272.579787,18.9906214 274.511281,18.9906214 C276.441298,18.9906214 278.011566,20.4664428 278.011566,22.2811566 L278.011566,25.7761031 L278.011658,25.7761031 Z" id="XMLID_2_" fill="#1D9EE6" fill-rule="nonzero"></path>
                            <path d="M133.777694,0 L100.222421,0 C97.3428008,0 95,2.28898759 95,5.10245429 L95,28.8975457 C95,31.7110124 97.3428008,34 100.222421,34 L133.777694,34 C136.657314,34 139,31.7110124 139,28.8975457 L139,5.10245429 C139,2.28898759 136.657314,0 133.777694,0 Z M133.777694,29.4953605 L100.222421,29.4953605 C99.7991374,29.4953605 99.4279004,29.2160757 99.4279004,28.8975457 L99.4279004,8.24897752 L114.604058,21.2842224 C114.915188,21.5515579 115.310837,21.6986979 115.71823,21.6986979 L118.281309,21.6988151 C118.688472,21.6988151 119.084351,21.5515579 119.395596,21.2842224 L134.572445,8.24850893 L134.572445,28.89778 C134.572215,29.2160757 134.200863,29.4953605 133.777694,29.4953605 Z M117.000058,17.2259232 L102.239353,4.50463947 L131.760762,4.50463947 L117.000058,17.2259232 Z" id="Shape" fill="#1D9EE6" fill-rule="nonzero"></path>
                            <path d="M429.777694,0 L396.222421,0 C393.342801,0 391,2.28898759 391,5.10245429 L391,28.8975457 C391,31.7110124 393.342801,34 396.222421,34 L429.777694,34 C432.657314,34 435,31.7110124 435,28.8975457 L435,5.10245429 C435,2.28898759 432.657314,0 429.777694,0 Z M429.777694,29.4953605 L396.222421,29.4953605 C395.799137,29.4953605 395.4279,29.2160757 395.4279,28.8975457 L395.4279,8.24897752 L410.604058,21.2842224 C410.915188,21.5515579 411.310837,21.6986979 411.71823,21.6986979 L414.281309,21.6988151 C414.688472,21.6988151 415.084351,21.5515579 415.395596,21.2842224 L430.572445,8.24850893 L430.572445,28.89778 C430.572215,29.2160757 430.200863,29.4953605 429.777694,29.4953605 Z M413.000058,17.2259232 L398.239353,4.50463947 L427.760762,4.50463947 L413.000058,17.2259232 Z" id="Shape" fill="#1D9EE6" fill-rule="nonzero"></path>
                        </g>
                    </g>
                </svg>
            </p>
        </p>
        <h4 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>What is Signature?</h4>
        <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RFC 2828 defines a digital signature as "a value computed with a cryptographic algorithm and appended to a data object in such a way that any recipient of the data can use the signature to verify the data's origin and integrity. 
            <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Open standard libraries are available that makes the signature generation and validation process seamless. Secondly the Signature has the meta information about the cryptographic algorithms used and which references used for the signature generation and validation. This eliminates the need of prior negotiation of the signature strategies.
        </p>
        <h4 style='text-align: left; font-family: Roboto,sans-serif; font-weight: 400; font-size: 1.57143em; color: black;'>Authentication Process</h4>
        <p style=' box-sizing: border-box; display: block; margin-block-start: 1em;  margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The new API for Centinel has an addition security measure. These includes authentication account for all merchants and payment channel.
            <br/><br/><strong>Basic Authentication</strong>
            <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To ensure that a valid integrator connects to Centinel API, each integrating system has a unique account that can be used to access and authenticate in each transaction. This account will be added to request header that the integrating system will submit to Centinel API. Example:
            <p style='text-align: center; padding: 20px; font-family: Courier,monospace; font-size: 12px;'>
                Authorization: Basic ZWxhc3RpYzpwQHluQG0xY3MyMDE3ISEzbEBzdDFj
            </p>
            <br/><strong>Signature from Integrating System to Centinel</strong>
            <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Another level of security that Centinel has is a unique transaction signature. This can be done by concatenating all the input parameters and signing the concatenated string. Signature formula is unique per transaction type which will be provided in the API documentation further in this document.
            <p style='margin: 2em 0 1em 0; padding: 15px; color: #0E5FC2; border-radius: 4px; border: 1px solid #0E5FC2; background-color: #dbe5f1; font-size: 13px;'>
                <strong>WARNING:</strong>  Signing the concatenated parameters requires a ‘key’ which will be given by Paynamics Technical Team. Make sure that this ‘key’ will remain confidential. Disclosing the key to unauthorized users may compromise the security of your system. If you think that your key is exploited, please contact Paynamics Technical Team immediately so that we can reset you key as soon as possible.
            </p>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paynamics may also revoke some API access. If in any case you tried to send request to a particular Centinel API and it returns an error saying that you are not allowed to do the transaction, it means that Paynamics did not allowed you to access that particular module. To request for an access, please email Paynamics Technical team and state why you need such access. Requests to access such modules are subject for approval by Paynamics security team.
        </p>
    </div>
</div>