import * as Knex from 'knex';


{{#if hasProperties}}
exports.up = (db: Knex): Promise<any> => {
    return Promise.all([
        db.schema.createTable('{{tableName}}', (table: Knex.CreateTableBuilder) => {
            table.uuid('id').primary().defaultTo(db.raw('uuid_generate_v4()'));

            {{#each properties}}
            table.{{type.database}}('{{name.snakeCase}}').notNullable();
            {{/each}}

            {{#if hasTimestamps}}
            table.timestamp('created_at').notNullable().defaultTo(db.fn.now());
            table.timestamp('updated_at');
            table.timestamp('deleted_at');
            {{/if}}

            table.uuid('last_updated_by').nullable();
            table.uuid('created_by').nullable();
            table.uuid('deleted_by').nullable();
        }),
    ]);
};

exports.down = (db: Knex): Promise<any> => {
    return Promise.all([
        db.schema.dropTable('{{tableName}}'),
    ]);
};
{{else}}
exports.up = (db: Knex): Promise<any> => {
    return Promise.all([
        // TODO add your migration scripts here
    ]);
};

exports.down = (db: Knex): Promise<any> => {
    return Promise.all([
        // TODO add your migration scripts here
    ]);
};
{{/if}}
