import { Bookshelf } from '../../{{deepness}}config/Database';
import { encode, decode } from '../{{deepness}}helpers/encryption';

import { Lookups } from '../models/Lookups';

export class {{name.capitalize}} extends Bookshelf.Model<{{name.capitalize}}> {

    public static forgeNew(attributes: any): {{name.capitalize}} {
        return this.forge <{{name.capitalize}}> ({
            ...attributes,
            status: decode(attributes.status),
        });
    }

    public static forgeById(attributes: any): {{name.capitalize}} {
        return this.forge<{{name.capitalize}}>({
            ...attributes,
            id: decode(attributes.Id),
        });
    }

    public static forgeByIdForDel(id: string): {{name.capitalize}} {
        return this.forge<{{name.capitalize}}>({
            id: decode(id),
        });
    }

    public static async fetchById(value: string): Promise < {{name.capitalize}} > {
        return await {{name.capitalize}}.where < {{name.capitalize}} > ({
          id: decode(value),
        }).fetch({
            // withRelated: ['statusInfo'],
        });
      }

    public static async find(options: any): Promise < any > {
        const statusId = (await Lookups.find({label: 'Deleted', group: 'STATUS'})).toJSON()[0].Id;
        options = Object.assign({}, options, {
            // withRelated: [ 'fkNameHere' ],
        });
        const clsModel = new {{name.capitalize}}();
        const status = decode(statusId);
        return clsModel.query((qb) => {
            qb.whereNotIn('status', [`${status}`]);

        }).fetchPage < {{name.capitalize}} > (options);
    }

    public get tableName(): string { return '{{tableName}}'; }
    public get hasTimestamps(): boolean { return {{hasTimestamps}}; }

    public get Id(): string { return this.get('id'); }
    public set Id(value: string) { this.set('id', value); }
    {{#each properties}}

    public get {{name.capitalize}}(): {{type.script}} { return this.get('{{name.snakeCase}}'); }
    public set {{name.capitalize}}(value: {{type.script}}) { this.set('{{name.snakeCase}}', value); }
    {{/each}}

    {{#if hasElasticSearch}}
    // ELASTICSEARCH INTEGRATION
    // END OF ELASTICSEARCH
    {{/if}}

    public hidden = ['id'];

    // FOREIGN KEY TEMPLATE
    // public fkName(): fkModelHere {
    //    return this.belongsTo(fkModelHere, 'external field name here', 'internal field name here');
    //  }

    public parse(attrs: any): any {
        attrs = super.parse(attrs);
        attrs.Id = encode(attrs.id);
        return attrs;
    }

    public format(attrs: any): any {
        if (attrs.Id) {
            attrs.id = decode(attrs.Id );
        }
        return super.format(attrs);
    }

}
