{{#if isResourceTemplate}}
import * as Bookshelf from 'bookshelf';
import { inject, named } from 'inversify';
import { Types, Targets } from '../../{{deepness}}constants';
import { {{name.capitalize}} } from '../{{deepness}}models/{{name.capitalize}}';
import { DatabaseException } from '../{{deepness}}exceptions/DatabaseException';
// import { NotFoundException } from '../{{deepness}}exceptions/NotFoundException';

import { Lookups } from '../models/Lookups';
{{else}}
// import { Knex } from '../../config/Database';
{{/if}}


export class {{name.capitalize}}Repository {

    {{#if isResourceTemplate}}constructor(
        @inject(Types.Model) @named(Targets.Model.{{name.capitalize}}) public {{name.capitalize}}Model: typeof {{name.capitalize}},
        @inject(Types.Model) @named(Targets.Model.Lookups) public LookupsModel: typeof Lookups,
    ) { }

    public async findAll(options: any): Promise<Bookshelf.Collection<{{name.capitalize}}>> {
        const list = await this.{{name.capitalize}}Model.find(options);
        return list as Bookshelf.Collection<{{name.capitalize}}>;
    }

    public async findOne(id: string): Promise<{{name.capitalize}}> {
        return this.{{name.capitalize}}Model.fetchById(id);
    }

    public async create(data: any): Promise<{{name.capitalize}}> {
        const {{name.camelCase}} = this.{{name.capitalize}}Model.forgeNew(data);
        try {
            const {{name.camelCase}}Created = await {{name.camelCase}}.save();
            return this.{{name.capitalize}}Model.fetchById({{name.camelCase}}Created.id);
        } catch (error) {
            throw new DatabaseException('Could not create the {{name.camelCase}}!', error);
        }
    }

    public async update(id: string, data: any): Promise<{{name.capitalize}}> {
        const {{name.camelCase}} = this.{{name.capitalize}}Model.forgeById({ id });
        try {
            const {{name.camelCase}}Updated = await {{name.camelCase}}.save(data, { patch: true });
            return this.{{name.capitalize}}Model.fetchById({{name.camelCase}}Updated.id);
        } catch (error) {
            throw new DatabaseException('Could not update the {{name.camelCase}}!', error);
        }
    }

    public async destroy(id: string, data: any): Promise<{{name.capitalize}}> {
        const deleted = await this.LookupsModel.find({label: 'Deleted'});
        const deletedJSON = deleted.toJSON();
        data.status = deletedJSON[0].Id;
        const {{name.camelCase}} = this.{{name.capitalize}}Model.forgeById({ id });
        try {
            const {{name.camelCase}}Updated = await {{name.camelCase}}.save(data, { patch: true });
            return this.{{name.capitalize}}Model.fetchById({{name.camelCase}}Updated.id);
        } catch (error) {
            throw new DatabaseException('Could not destroy the {{name.camelCase}}!', error);
        }
    }

    // public async destroy(id: string): Promise<void> {
    //    let {{name.camelCase}} = this.{{name.capitalize}}Model.forge<{{name.capitalize}}>({ id });
    //    try {
    //        {{name.camelCase}} = await {{name.camelCase}}.fetch({ require: true });
    //    } catch (error) {
    //        throw new NotFoundException(id);
    //    }
    //
    //    try {
    //        await {{name.camelCase}}.destroy();
    //        return;
    //    } catch (error) {
    //       throw new DatabaseException('Could not delete the {{name.camelCase}}!', error);
    //    }
    // }{{/if}}

}
