/**
 * constants.Targets
 * ------------------------------------------------
 *
 * This is for our IOC so have a unique key/target for
 * our controllers, services and repositories
 *
 * This file is generated with the task `$ npm run console update:targets`.
 */

export const Targets = {
    Model: {{{object models}}},
    Repository: {{{object repositories}}},
    Service: {{{object services}}},
    Middleware: {{{object middlewares}}},
    Listener: {{{object listeners}}},
    Controller: {{{object controllers}}},
};
